Repository brstu/OOTPISP-2023, pull requests merged in 2023-11, with the labels that each got.

#51 [task_02]Add task 02
  tasks/task_02/readme.md
  trunk/PO-8_210643/task_02/README.md
  trunk/PO-8_210643/task_02/images/img.png
  trunk/PO-8_210643/task_02/images/img_1.png
  trunk/PO-8_210643/task_02/images/img_2.png
  trunk/PO-8_210643/task_02/images/img_3.png
  trunk/PO-8_210643/task_02/images/img_4.png
  trunk/PO-8_210643/task_02/images/img_5.png
  trunk/PO-8_210643/task_02/resources/copy.png
  trunk/PO-8_210643/task_02/resources/cut.png
  trunk/PO-8_210643/task_02/resources/new.png
  trunk/PO-8_210643/task_02/resources/open.png
  trunk/PO-8_210643/task_02/resources/paste.png
  trunk/PO-8_210643/task_02/resources/save.png
  trunk/PO-8_210643/task_02/src/CMakeLists.txt
  trunk/PO-8_210643/task_02/src/main.cpp
  trunk/PO-8_210643/task_02/src/texteditor.cpp
  trunk/PO-8_210643/task_02/src/texteditor.h
  trunk/PO-8_210643/task_02/src/texteditor.qrc
  trunk/PO-8_210643/task_02/src/texteditor.ui
Labels: task po-8

#45 [task_01]lab1
  README.md
  trunk/PO-9_210665/task_01/README.md
  trunk/PO-9_210665/task_01/images/vyp1_1.png
  trunk/PO-9_210665/task_01/images/vyp1_2.png
  trunk/PO-9_210665/task_01/images/vyp2_1.png
  trunk/PO-9_210665/task_01/images/vyp2_2.png
  trunk/PO-9_210665/task_01/images/zadan1.png
  trunk/PO-9_210665/task_01/src/CMakeLists.txt
  trunk/PO-9_210665/task_01/src/gg.cpp
  trunk/PO-9_210665/task_01/src/gg.h
  trunk/PO-9_210665/task_01/src/gg.ui
  trunk/PO-9_210665/task_01/src/main.cpp
  trunk/PO-9_210665/task_01/src/mainwindow.cpp
  trunk/PO-9_210665/task_01/src/mainwindow.h
  trunk/PO-9_210665/task_01/src/mainwindow.ui
Labels: task po-9

#53 [task_01]lab_1
  README.md
  trunk/PO-9_210667/task_01/README.md
  trunk/PO-9_210667/task_01/img/1.png
  trunk/PO-9_210667/task_01/img/2.png
  trunk/PO-9_210667/task_01/img/3.png
  trunk/PO-9_210667/task_01/img/4.png
  trunk/PO-9_210667/task_01/src/CMakeLists.txt
  trunk/PO-9_210667/task_01/src/main.cpp
  trunk/PO-9_210667/task_01/src/widget.cpp
  trunk/PO-9_210667/task_01/src/widget.h
  trunk/PO-9_210667/task_01/src/widget.ui
Labels: task po-9

#55 [task_02] Add Task 02
  README.md
  trunk/PO-8_210641/task_02/README.md
  trunk/PO-8_210641/task_02/images/img.png
  trunk/PO-8_210641/task_02/images/img_1.png
  trunk/PO-8_210641/task_02/images/img_2.png
  trunk/PO-8_210641/task_02/images/img_3.png
  trunk/PO-8_210641/task_02/images/img_4.png
  trunk/PO-8_210641/task_02/images/img_5.png
  trunk/PO-8_210641/task_02/images/img_6.png
  trunk/PO-8_210641/task_02/src/CMakeLists.txt
  trunk/PO-8_210641/task_02/src/copy.png
  trunk/PO-8_210641/task_02/src/cut.png
  trunk/PO-8_210641/task_02/src/main.cpp
  trunk/PO-8_210641/task_02/src/new.png
  trunk/PO-8_210641/task_02/src/open.png
  trunk/PO-8_210641/task_02/src/paste.png
  trunk/PO-8_210641/task_02/src/save.png
  trunk/PO-8_210641/task_02/src/texteditor.cpp
  trunk/PO-8_210641/task_02/src/texteditor.h
  trunk/PO-8_210641/task_02/src/texteditor.qrc
  trunk/PO-8_210641/task_02/src/texteditor.ui
Labels: task po-8, almost done

#87 [task_01]lab1
  README.md
  trunk/PO-9_210657/lab1/README.md
  trunk/PO-9_210657/lab1/images/image1.jpg
  trunk/PO-9_210657/lab1/images/image2.jpg
  trunk/PO-9_210657/lab1/src/CMakeLists.txt
  trunk/PO-9_210657/lab1/src/main.cpp
  trunk/PO-9_210657/lab1/src/mainwindow.cpp
  trunk/PO-9_210657/lab1/src/mainwindow.h
  trunk/PO-9_210657/lab1/src/mainwindow.ui
Labels: task po-9

#91 [task_08]lab8
  README.md
  trunk/PO-9_210656/lab8/images/GIF.gif
  trunk/PO-9_210656/lab8/readme.md
  trunk/PO-9_210656/lab8/src/CMakeLists.txt
  trunk/PO-9_210656/lab8/src/main.cpp
  trunk/PO-9_210656/lab8/src/snowmanwidget.cpp
  trunk/PO-9_210656/lab8/src/snowmanwidget.h
  trunk/PO-9_210656/lab8/src/snowmanwidget.ui
Labels: task po-9

#69 [task_07] Лабораторная работа №7
  README.md
  trunk/PO-9_210664/task_07/README.md
  trunk/PO-9_210664/task_07/readme_imgs/snowflake.gif
  trunk/PO-9_210664/task_07/src/.gitignore
  trunk/PO-9_210664/task_07/src/CMakeLists.txt
  trunk/PO-9_210664/task_07/src/customwidget.cpp
  trunk/PO-9_210664/task_07/src/customwidget.h
  trunk/PO-9_210664/task_07/src/main.cpp
  trunk/PO-9_210664/task_07/src/mainwindow.cpp
  trunk/PO-9_210664/task_07/src/mainwindow.h
  trunk/PO-9_210664/task_07/src/mainwindow.ui
Labels: task po-9

#71 [doc] Update table in task_08
  tasks/task_08/README.md
Labels: documentation

#70 [doc]Update task_03 style
  tasks/task_03/README.md
Labels: documentation

#97 [task_04] Add task_04
  README.md
  trunk/PO-8_210641/task_04/README.md
  trunk/PO-8_210641/task_04/images/img.png
  trunk/PO-8_210641/task_04/images/img_1.png
  trunk/PO-8_210641/task_04/images/img_2.png
  trunk/PO-8_210641/task_04/images/img_3.png
  trunk/PO-8_210641/task_04/images/img_4.png
  trunk/PO-8_210641/task_04/src/CMakeLists.txt
  trunk/PO-8_210641/task_04/src/main.cpp
  trunk/PO-8_210641/task_04/src/matrixdeterminant.cpp
  trunk/PO-8_210641/task_04/src/matrixdeterminant.h
  trunk/PO-8_210641/task_04/src/matrixdeterminant.ui
Labels: task po-8

#98 [task_04] Add task_04
  README.md
  trunk/PO-8_210639/task_04/README.md
  trunk/PO-8_210639/task_04/images/img_1.png
  trunk/PO-8_210639/task_04/images/img_2.png
  trunk/PO-8_210639/task_04/images/img_3.png
  trunk/PO-8_210639/task_04/images/img_4.png
  trunk/PO-8_210639/task_04/images/img_5.png
  trunk/PO-8_210639/task_04/src/CMakeLists.txt
  trunk/PO-8_210639/task_04/src/main.cpp
  trunk/PO-8_210639/task_04/src/mainwindow.cpp
  trunk/PO-8_210639/task_04/src/mainwindow.h
  trunk/PO-8_210639/task_04/src/mainwindow.ui
Labels: task po-8

#96 [task_02] Add task_02
  trunk/PO-8_210639/task_02/README.md
  trunk/PO-8_210639/task_02/images/img_1.png
  trunk/PO-8_210639/task_02/images/img_2.png
  trunk/PO-8_210639/task_02/images/img_3.png
  trunk/PO-8_210639/task_02/images/img_4.png
  trunk/PO-8_210639/task_02/images/img_5.png
  trunk/PO-8_210639/task_02/images/img_6.png
  trunk/PO-8_210639/task_02/src/CMakeLists.txt
  trunk/PO-8_210639/task_02/src/copy.png
  trunk/PO-8_210639/task_02/src/cut.png
  trunk/PO-8_210639/task_02/src/main.cpp
  trunk/PO-8_210639/task_02/src/new.png
  trunk/PO-8_210639/task_02/src/open.png
  trunk/PO-8_210639/task_02/src/paste.png
  trunk/PO-8_210639/task_02/src/save.png
  trunk/PO-8_210639/task_02/src/texteditor.cpp
  trunk/PO-8_210639/task_02/src/texteditor.h
  trunk/PO-8_210639/task_02/src/texteditor.qrc
  trunk/PO-8_210639/task_02/src/texteditor.ui
Labels: task po-8

#93 [task_01] Add task_01
  README.md
  trunk/PO-8_210642/task_01/README.md
  trunk/PO-8_210642/task_01/images/img.png
  trunk/PO-8_210642/task_01/images/img_1.png
  trunk/PO-8_210642/task_01/src/CMakeLists.txt
  trunk/PO-8_210642/task_01/src/main.cpp
  trunk/PO-8_210642/task_01/src/mainwindow.cpp
  trunk/PO-8_210642/task_01/src/mainwindow.h
  trunk/PO-8_210642/task_01/src/mainwindow.ui
  trunk/PO-8_210642/task_01/src/textreviwer.cpp
  trunk/PO-8_210642/task_01/src/textreviwer.h
  trunk/PO-8_210642/task_01/src/textreviwer.ui
Labels: task po-8

#80 [task_01] Add Lab_01
  README.md
  trunk/PO-8_210640/task_01/Lab_01/ColorViewer/App.xaml
  trunk/PO-8_210640/task_01/Lab_01/ColorViewer/App.xaml.cs
  trunk/PO-8_210640/task_01/Lab_01/ColorViewer/AssemblyInfo.cs
  trunk/PO-8_210640/task_01/Lab_01/ColorViewer/ColorViewer.csproj
  trunk/PO-8_210640/task_01/Lab_01/ColorViewer/Generic.xaml
  trunk/PO-8_210640/task_01/Lab_01/ColorViewer/MainWindow.xaml
  trunk/PO-8_210640/task_01/Lab_01/ColorViewer/MainWindow.xaml.cs
  trunk/PO-8_210640/task_01/Lab_01/ColorViewer/NumericSpinner.xaml
  trunk/PO-8_210640/task_01/Lab_01/ColorViewer/NumericSpinner.xaml.cs
  trunk/PO-8_210640/task_01/Lab_01/Lab_01.sln
  trunk/PO-8_210640/task_01/Lab_01/Lab_01/App.xaml
  trunk/PO-8_210640/task_01/Lab_01/Lab_01/App.xaml.cs
  trunk/PO-8_210640/task_01/Lab_01/Lab_01/AssemblyInfo.cs
  trunk/PO-8_210640/task_01/Lab_01/Lab_01/Lab_01.csproj
  trunk/PO-8_210640/task_01/Lab_01/Lab_01/MainWindow.xaml
  trunk/PO-8_210640/task_01/Lab_01/Lab_01/MainWindow.xaml.cs
  trunk/PO-8_210640/task_01/README.md
  trunk/PO-8_210640/task_01/images/Example.png
  trunk/PO-8_210640/task_01/images/Example2.png
Labels: task po-8

#90 [task_02] Add Lab_02
  README.md
  trunk/PO-8_210640/task_02/Lab_02/Lab_02.sln
  trunk/PO-8_210640/task_02/Lab_02/Lab_02/App.xaml
  trunk/PO-8_210640/task_02/Lab_02/Lab_02/App.xaml.cs
  trunk/PO-8_210640/task_02/Lab_02/Lab_02/AssemblyInfo.cs
  trunk/PO-8_210640/task_02/Lab_02/Lab_02/Lab_02.csproj
  trunk/PO-8_210640/task_02/Lab_02/Lab_02/MainWindow.xaml
  trunk/PO-8_210640/task_02/Lab_02/Lab_02/MainWindow.xaml.cs
  trunk/PO-8_210640/task_02/Lab_02/Lab_02/Resources/Icons/copy.png
  trunk/PO-8_210640/task_02/Lab_02/Lab_02/Resources/Icons/cut.png
  trunk/PO-8_210640/task_02/Lab_02/Lab_02/Resources/Icons/new.png
  trunk/PO-8_210640/task_02/Lab_02/Lab_02/Resources/Icons/open.png
  trunk/PO-8_210640/task_02/Lab_02/Lab_02/Resources/Icons/paste.png
  trunk/PO-8_210640/task_02/Lab_02/Lab_02/Resources/Icons/save.png
  trunk/PO-8_210640/task_02/Lab_02/Lab_02/SaveCommand.cs
  trunk/PO-8_210640/task_02/README.md
  trunk/PO-8_210640/task_02/images/Example.png
  trunk/PO-8_210640/task_02/images/File.png
  trunk/PO-8_210640/task_02/images/Main.png
  trunk/PO-8_210640/task_03/Lab_03/Lab_03.sln
  trunk/PO-8_210640/task_03/Lab_03/Lab_03/App.xaml
  trunk/PO-8_210640/task_03/Lab_03/Lab_03/App.xaml.cs
  trunk/PO-8_210640/task_03/Lab_03/Lab_03/AssemblyInfo.cs
  trunk/PO-8_210640/task_03/Lab_03/Lab_03/Lab_03.csproj
  trunk/PO-8_210640/task_03/Lab_03/Lab_03/MainWindow.xaml
  trunk/PO-8_210640/task_03/Lab_03/Lab_03/MainWindow.xaml.cs
Labels: task po-8

#99 [task_05] Add task_05
  README.md
  trunk/PO-8_210639/task_05/README.md
  trunk/PO-8_210639/task_05/images/img_1.png
  trunk/PO-8_210639/task_05/images/img_2.png
  trunk/PO-8_210639/task_05/images/img_3.png
  trunk/PO-8_210639/task_05/images/img_4.png
  trunk/PO-8_210639/task_05/images/img_5.png
  trunk/PO-8_210639/task_05/src/CMakeLists.txt
  trunk/PO-8_210639/task_05/src/main.cpp
  trunk/PO-8_210639/task_05/src/mainwindow.cpp
  trunk/PO-8_210639/task_05/src/mainwindow.h
  trunk/PO-8_210639/task_05/src/mainwindow.ui
Labels: task po-8

#83 [task_01]
  README.md
  trunk/PO-9_210663/task_01/README.md
  trunk/PO-9_210663/task_01/img/1.png
  trunk/PO-9_210663/task_01/img/2.png
  trunk/PO-9_210663/task_01/img/3.png
  trunk/PO-9_210663/task_01/img/4.png
  trunk/PO-9_210663/task_01/src/CMakeLists.txt
  trunk/PO-9_210663/task_01/src/main.cpp
  trunk/PO-9_210663/task_01/src/mainwindow.cpp
  trunk/PO-9_210663/task_01/src/mainwindow.h
  trunk/PO-9_210663/task_01/src/mainwindow.ui
Labels: task po-9

#78 [task_05] lab5
  README.md
  trunk/PO-9_210665/task_05/README.md
  trunk/PO-9_210665/task_05/images/1.png
  trunk/PO-9_210665/task_05/images/3.png
  trunk/PO-9_210665/task_05/src/CMakeLists.txt
  trunk/PO-9_210665/task_05/src/main.cpp
  trunk/PO-9_210665/task_05/src/mainwindow.cpp
  trunk/PO-9_210665/task_05/src/mainwindow.h
  trunk/PO-9_210665/task_05/src/mainwindow.ui
Labels: task po-9

#76 [task_02] Лабораторная работа №2
  README.md
  trunk/PO-9_210672/lab2/img/img1.png
  trunk/PO-9_210672/lab2/img/img2.png
  trunk/PO-9_210672/lab2/img/img3.png
  trunk/PO-9_210672/lab2/img/img4.png
  trunk/PO-9_210672/lab2/img/img5.png
  trunk/PO-9_210672/lab2/readme.md
  trunk/PO-9_210672/lab2/src/CMakeLists.txt
  trunk/PO-9_210672/lab2/src/main.cpp
  trunk/PO-9_210672/lab2/src/mainwindow.cpp
  trunk/PO-9_210672/lab2/src/mainwindow.h
  trunk/PO-9_210672/lab2/src/mainwindow.qrc
  trunk/PO-9_210672/lab2/src/mainwindow.ui
  trunk/PO-9_210672/lab2/src/resources/tables/t1_1.png
  trunk/PO-9_210672/lab2/src/resources/tables/t4_1.png
  trunk/PO-9_210672/lab2/src/resources/tables/t4_2.png
  trunk/PO-9_210672/lab2/src/resources/tables/t4_3.png
  trunk/PO-9_210672/lab2/src/resources/tables/t6.png
  trunk/PO-9_210672/lab2/src/resources/tables/t_7.png
Labels: task po-9

#65 [task_03] lab3
  README.md
  trunk/PO-9_210666/task_03/README.md
  trunk/PO-9_210666/task_03/images/image-1.png
  trunk/PO-9_210666/task_03/images/image-10.png
  trunk/PO-9_210666/task_03/images/image-11.png
  trunk/PO-9_210666/task_03/images/image-12.png
  trunk/PO-9_210666/task_03/images/image-13.png
  trunk/PO-9_210666/task_03/images/image-14.png
  trunk/PO-9_210666/task_03/images/image-15.png
  trunk/PO-9_210666/task_03/images/image-16.png
  trunk/PO-9_210666/task_03/images/image-17.png
  trunk/PO-9_210666/task_03/images/image-18.png
  trunk/PO-9_210666/task_03/images/image-19.png
  trunk/PO-9_210666/task_03/images/image-2.png
  trunk/PO-9_210666/task_03/images/image-20.png
  trunk/PO-9_210666/task_03/images/image-21.png
  trunk/PO-9_210666/task_03/images/image-3.png
  trunk/PO-9_210666/task_03/images/image-4.png
  trunk/PO-9_210666/task_03/images/image-5.png
  trunk/PO-9_210666/task_03/images/image-6.png
  trunk/PO-9_210666/task_03/images/image-7.png
  trunk/PO-9_210666/task_03/images/image-8.png
  trunk/PO-9_210666/task_03/images/image.png
  trunk/PO-9_210666/task_03/src/CMakeLists.txt
  trunk/PO-9_210666/task_03/src/choosetask.cpp
  trunk/PO-9_210666/task_03/src/choosetask.h
  trunk/PO-9_210666/task_03/src/choosetask.ui
  trunk/PO-9_210666/task_03/src/main.cpp
  trunk/PO-9_210666/task_03/src/task1.cpp
  trunk/PO-9_210666/task_03/src/task1.h
  trunk/PO-9_210666/task_03/src/task1.ui
  trunk/PO-9_210666/task_03/src/task2.cpp
  trunk/PO-9_210666/task_03/src/task2.h
  trunk/PO-9_210666/task_03/src/task2.ui
  trunk/PO-9_210666/task_03/src/task3.cpp
  trunk/PO-9_210666/task_03/src/task3.h
  trunk/PO-9_210666/task_03/src/task3.ui
  trunk/PO-9_210666/task_03/src/task4.cpp
  trunk/PO-9_210666/task_03/src/task4.h
  trunk/PO-9_210666/task_03/src/task4.ui
  trunk/PO-9_210666/task_03/src/task5.cpp
  trunk/PO-9_210666/task_03/src/task5.h
  trunk/PO-9_210666/task_03/src/task5.ui
  trunk/PO-9_210666/task_03/src/task6.cpp
  trunk/PO-9_210666/task_03/src/task6.h
  trunk/PO-9_210666/task_03/src/task6.ui
Labels: task po-9

#86 [task_04]
  README.md
  trunk/PO-9_210668/task_04/README.md
  trunk/PO-9_210668/task_04/images/image-1.png
  trunk/PO-9_210668/task_04/images/image-2.png
  trunk/PO-9_210668/task_04/src/CMakeLists.txt
  trunk/PO-9_210668/task_04/src/main.cpp
  trunk/PO-9_210668/task_04/src/mainwindow.cpp
  trunk/PO-9_210668/task_04/src/mainwindow.h
  trunk/PO-9_210668/task_04/src/mainwindow.ui
Labels: task po-9

#89 [task_01]Task01
  trunk/PO-8_210719/task_01/README.md
  trunk/PO-8_210719/task_01/images/OutputImage_1.png
  trunk/PO-8_210719/task_01/images/OutputImage_2.png
  trunk/PO-8_210719/task_01/images/OutputImage_3.png
  trunk/PO-8_210719/task_01/src/main.py
Labels: task po-8

#82 [task_01]
  README.md
  trunk/PO-9_210669/Lab1/README.md
  trunk/PO-9_210669/Lab1/img/image-1.png
  trunk/PO-9_210669/Lab1/img/image-2.png
  trunk/PO-9_210669/Lab1/img/image-3.png
  trunk/PO-9_210669/Lab1/img/image-4.png
  trunk/PO-9_210669/Lab1/img/image-5.png
  trunk/PO-9_210669/Lab1/img/image.png
  trunk/PO-9_210669/Lab1/src/CMakeLists.txt
  trunk/PO-9_210669/Lab1/src/main.cpp
  trunk/PO-9_210669/Lab1/src/mainwindow.cpp
  trunk/PO-9_210669/Lab1/src/mainwindow.h
  trunk/PO-9_210669/Lab1/src/mainwindow.ui
Labels: task po-9

#77 [task_04] lab_04
  README.md
  trunk/PO-9_210665/task_04/README.md
  trunk/PO-9_210665/task_04/images/image.png
  trunk/PO-9_210665/task_04/images/image3.png
  trunk/PO-9_210665/task_04/images/image4.png
  trunk/PO-9_210665/task_04/src/CMakeLists.txt
  trunk/PO-9_210665/task_04/src/main.cpp
  trunk/PO-9_210665/task_04/src/mainwindow.cpp
  trunk/PO-9_210665/task_04/src/mainwindow.h
  trunk/PO-9_210665/task_04/src/mainwindow.ui
Labels: task po-9

#73 [task_03] very_mnogo
  README.md
  trunk/PO-9_210665/task_03/README.md
  trunk/PO-9_210665/task_03/images/image.png
  trunk/PO-9_210665/task_03/images/image10.png
  trunk/PO-9_210665/task_03/images/image11.png
  trunk/PO-9_210665/task_03/images/image12.png
  trunk/PO-9_210665/task_03/images/image13.png
  trunk/PO-9_210665/task_03/images/image14.png
  trunk/PO-9_210665/task_03/images/image15.png
  trunk/PO-9_210665/task_03/images/image16.png
  trunk/PO-9_210665/task_03/images/image17.png
  trunk/PO-9_210665/task_03/images/image18.png
  trunk/PO-9_210665/task_03/images/image19.png
  trunk/PO-9_210665/task_03/images/image2.png
  trunk/PO-9_210665/task_03/images/image3.png
  trunk/PO-9_210665/task_03/images/image4.png
  trunk/PO-9_210665/task_03/images/image5.png
  trunk/PO-9_210665/task_03/images/image6.png
  trunk/PO-9_210665/task_03/images/image7.png
  trunk/PO-9_210665/task_03/images/image8.png
  trunk/PO-9_210665/task_03/images/image9.png
  trunk/PO-9_210665/task_03/src/CMakeLists.txt
  trunk/PO-9_210665/task_03/src/form.cpp
  trunk/PO-9_210665/task_03/src/form.h
  trunk/PO-9_210665/task_03/src/form.ui
  trunk/PO-9_210665/task_03/src/form2.cpp
  trunk/PO-9_210665/task_03/src/form2.h
  trunk/PO-9_210665/task_03/src/form2.ui
  trunk/PO-9_210665/task_03/src/form21.cpp
  trunk/PO-9_210665/task_03/src/form21.h
  trunk/PO-9_210665/task_03/src/form21.ui
  trunk/PO-9_210665/task_03/src/form3.cpp
  trunk/PO-9_210665/task_03/src/form3.h
  trunk/PO-9_210665/task_03/src/form3.ui
  trunk/PO-9_210665/task_03/src/form4.cpp
  trunk/PO-9_210665/task_03/src/form4.h
  trunk/PO-9_210665/task_03/src/form4.ui
  trunk/PO-9_210665/task_03/src/form5.cpp
  trunk/PO-9_210665/task_03/src/form5.h
  trunk/PO-9_210665/task_03/src/form5.ui
  trunk/PO-9_210665/task_03/src/form6.cpp
  trunk/PO-9_210665/task_03/src/form6.h
  trunk/PO-9_210665/task_03/src/form6.ui
  trunk/PO-9_210665/task_03/src/main.cpp
  trunk/PO-9_210665/task_03/src/mainwindow.cpp
  trunk/PO-9_210665/task_03/src/mainwindow.h
  trunk/PO-9_210665/task_03/src/mainwindow.ui
Labels: task po-9

#95 [task_02]Task02
  README.md
  trunk/PO-8_210719/task_02/README.md
  trunk/PO-8_210719/task_02/images/1.png
  trunk/PO-8_210719/task_02/images/2.png
  trunk/PO-8_210719/task_02/images/3.png
  trunk/PO-8_210719/task_02/images/4.png
  trunk/PO-8_210719/task_02/src/main.py
Labels: task po-8

#34 [task_02] Add lab2
  README.md
  tasks/task_00/readme.md
  tasks/task_01/images/img_1.png
  tasks/task_01/images/img_2.png
  tasks/task_01/images/img_3.png
  tasks/task_01/images/img_4.png
  tasks/task_01/readme.md
  tasks/task_02/images/img_1.png
  tasks/task_02/images/img_10.png
  tasks/task_02/images/img_2.png
  tasks/task_02/images/img_3_1.png
  tasks/task_02/images/img_3_2.png
  tasks/task_02/images/img_3_3.png
  tasks/task_02/images/img_4.png
  tasks/task_02/images/img_5.png
  tasks/task_02/images/img_6.png
  tasks/task_02/images/img_7.png
  tasks/task_02/images/img_8.png
  tasks/task_02/images/img_9.png
  tasks/task_02/images/tables/t1_1.png
  tasks/task_02/images/tables/t4_1.png
  tasks/task_02/images/tables/t4_2.png
  tasks/task_02/images/tables/t4_3.png
  tasks/task_02/images/tables/t6.png
  tasks/task_02/images/tables/t_7.png
  trunk/.DS_Store
  trunk/PO-9_210674/.DS_Store
  trunk/PO-9_210674/task_01/.DS_Store
  trunk/PO-9_210674/task_02/ txtTest.txt
  trunk/PO-9_210674/task_02/.DS_Store
  trunk/PO-9_210674/task_02/README.md
  trunk/PO-9_210674/task_02/scrins/img.png
  trunk/PO-9_210674/task_02/scrins/img_-1.png
  trunk/PO-9_210674/task_02/scrins/img_0.png
  trunk/PO-9_210674/task_02/scrins/img_1.png
  trunk/PO-9_210674/task_02/scrins/img_2.png
  trunk/PO-9_210674/task_02/scrins/img_3.png
  trunk/PO-9_210674/task_02/scrins/img_4.png
  trunk/PO-9_210674/task_02/scrins/img_5.png
  trunk/PO-9_210674/task_02/scrins/img_6.png
  trunk/PO-9_210674/task_02/src/.DS_Store
  trunk/PO-9_210674/task_02/src/CMakeLists.txt
  trunk/PO-9_210674/task_02/src/main.cpp
  trunk/PO-9_210674/task_02/src/texteditor.cpp
  trunk/PO-9_210674/task_02/src/texteditor.h
  trunk/PO-9_210674/task_02/src/texteditor.ui
Labels: task po-9

#62 [task_03] Лабораторная работа №3
  README.md
  trunk/PO-9_210664/task_03/README.md
  trunk/PO-9_210664/task_03/readme_imgs/1.png
  trunk/PO-9_210664/task_03/readme_imgs/2.png
  trunk/PO-9_210664/task_03/readme_imgs/t1-1.png
  trunk/PO-9_210664/task_03/readme_imgs/t1-2.png
  trunk/PO-9_210664/task_03/readme_imgs/t1-3.png
  trunk/PO-9_210664/task_03/readme_imgs/t2-1.png
  trunk/PO-9_210664/task_03/readme_imgs/t2-2.png
  trunk/PO-9_210664/task_03/readme_imgs/t2-3.png
  trunk/PO-9_210664/task_03/readme_imgs/t2-4.png
  trunk/PO-9_210664/task_03/readme_imgs/t2-5.png
  trunk/PO-9_210664/task_03/readme_imgs/t2-6.png
  trunk/PO-9_210664/task_03/readme_imgs/t2-7.png
  trunk/PO-9_210664/task_03/readme_imgs/t3-1.png
  trunk/PO-9_210664/task_03/readme_imgs/t3-2.png
  trunk/PO-9_210664/task_03/readme_imgs/t4-1.png
  trunk/PO-9_210664/task_03/readme_imgs/t5-1.png
  trunk/PO-9_210664/task_03/readme_imgs/t5-2.png
  trunk/PO-9_210664/task_03/readme_imgs/t6-1.png
  trunk/PO-9_210664/task_03/src/CMakeLists.txt
  trunk/PO-9_210664/task_03/src/main.cpp
  trunk/PO-9_210664/task_03/src/t1.cpp
  trunk/PO-9_210664/task_03/src/t1.h
  trunk/PO-9_210664/task_03/src/t1.ui
  trunk/PO-9_210664/task_03/src/t2.cpp
  trunk/PO-9_210664/task_03/src/t2.h
  trunk/PO-9_210664/task_03/src/t2.ui
  trunk/PO-9_210664/task_03/src/t3.cpp
  trunk/PO-9_210664/task_03/src/t3.h
  trunk/PO-9_210664/task_03/src/t3.ui
  trunk/PO-9_210664/task_03/src/t4.cpp
  trunk/PO-9_210664/task_03/src/t4.h
  trunk/PO-9_210664/task_03/src/t4.ui
  trunk/PO-9_210664/task_03/src/t5.cpp
  trunk/PO-9_210664/task_03/src/t5.h
  trunk/PO-9_210664/task_03/src/t5.ui
  trunk/PO-9_210664/task_03/src/t6.cpp
  trunk/PO-9_210664/task_03/src/t6.h
  trunk/PO-9_210664/task_03/src/t6.ui
Labels: task po-9

#64 [task_05] Лабораторная работа №5
  README.md
  trunk/PO-9_210664/task_05/README.md
  trunk/PO-9_210664/task_05/readme_imgs/1.png
  trunk/PO-9_210664/task_05/readme_imgs/2.png
  trunk/PO-9_210664/task_05/readme_imgs/3.png
  trunk/PO-9_210664/task_05/readme_imgs/4.png
  trunk/PO-9_210664/task_05/readme_imgs/5.png
  trunk/PO-9_210664/task_05/readme_imgs/6.png
  trunk/PO-9_210664/task_05/src/.gitignore
  trunk/PO-9_210664/task_05/src/CMakeLists.txt
  trunk/PO-9_210664/task_05/src/Magaz.db
  trunk/PO-9_210664/task_05/src/main.cpp
  trunk/PO-9_210664/task_05/src/mainwindow.cpp
  trunk/PO-9_210664/task_05/src/mainwindow.h
  trunk/PO-9_210664/task_05/src/mainwindow.ui
Labels: task po-9, conflict

#102 [task_02]Fix task_02
  trunk/PO-9_210674/.DS_Store
  trunk/PO-9_210674/task_02/.DS_Store
  trunk/PO-9_210674/task_02/README.md
  trunk/PO-9_210674/task_02/src/.DS_Store
  trunk/PO-9_210674/task_02/src/CMakeLists.txt
  trunk/PO-9_210674/task_02/txtTest.txt
Labels: bugFix

#94 [task_05]Add Task_05
  trunk/PO-8_210643/task_05/README.md
  trunk/PO-8_210643/task_05/images/img.png
  trunk/PO-8_210643/task_05/images/img_1.png
  trunk/PO-8_210643/task_05/images/img_2.png
  trunk/PO-8_210643/task_05/images/img_3.png
  trunk/PO-8_210643/task_05/lab5wpf.sln
  trunk/PO-8_210643/task_05/lab5wpf/AddDataWindow.xaml
  trunk/PO-8_210643/task_05/lab5wpf/AddDataWindow.xaml.cs
  trunk/PO-8_210643/task_05/lab5wpf/App.xaml
  trunk/PO-8_210643/task_05/lab5wpf/App.xaml.cs
  trunk/PO-8_210643/task_05/lab5wpf/AssemblyInfo.cs
  trunk/PO-8_210643/task_05/lab5wpf/DataBase.cs
  trunk/PO-8_210643/task_05/lab5wpf/MainWindow.xaml
  trunk/PO-8_210643/task_05/lab5wpf/MainWindow.xaml.cs
  trunk/PO-8_210643/task_05/lab5wpf/ShowRequest.xaml
  trunk/PO-8_210643/task_05/lab5wpf/ShowRequest.xaml.cs
  trunk/PO-8_210643/task_05/lab5wpf/lab5wpf.csproj
Labels: question, task po-8

#106 [task_07] lab7
  README.md
  trunk/PO-9_210666/task_07/README.md
  trunk/PO-9_210666/task_07/images/Ne_otkrivat!!.gif
  trunk/PO-9_210666/task_07/src/CMakeLists.txt
  trunk/PO-9_210666/task_07/src/main.cpp
  trunk/PO-9_210666/task_07/src/mainwindow.cpp
  trunk/PO-9_210666/task_07/src/mainwindow.h
  trunk/PO-9_210666/task_07/src/mainwindow.ui
Labels: task po-9

#105 [task_08] lab8
  README.md
  trunk/PO-9_210666/task_08/README.md
  trunk/PO-9_210666/task_08/src/AbstractFactory.h
  trunk/PO-9_210666/task_08/src/Builder.h
  trunk/PO-9_210666/task_08/src/CMakeLists.txt
  trunk/PO-9_210666/task_08/src/main.cpp
Labels: task po-9

#111 [task_08] Add task_08
  README.md
  trunk/PO-8_210639/task_08/README.md
  trunk/PO-8_210639/task_08/images/result.gif
  trunk/PO-8_210639/task_08/src/CMakeLists.txt
  trunk/PO-8_210639/task_08/src/main.cpp
  trunk/PO-8_210639/task_08/src/mainwindow.cpp
  trunk/PO-8_210639/task_08/src/mainwindow.h
  trunk/PO-8_210639/task_08/src/mainwindow.ui
Labels: task po-8

#103 [task_08] Лабораторная работа №8
  README.md
  trunk/PO-9_210664/task_08/README.md
  trunk/PO-9_210664/task_08/src/AbstructFactory.cpp
  trunk/PO-9_210664/task_08/src/Builder.cpp
  trunk/PO-9_210664/task_08/src/CMakeLists.txt
  trunk/PO-9_210664/task_08/src/FactoryMethodWithAbstructFactory.cpp
  trunk/PO-9_210664/task_08/src/labrab15.cpp
  trunk/PO-9_210664/task_08/src/labrab15.h
  trunk/PO-9_210664/task_08/src/labrab15.ui
  trunk/PO-9_210664/task_08/src/main.cpp
Labels: task po-9

#85 [task_02] Lab2
  README.md
  trunk/PO-9_210655/task_02/README.md
  trunk/PO-9_210655/task_02/images/img_1.jpg
  trunk/PO-9_210655/task_02/images/img_2.jpg
  trunk/PO-9_210655/task_02/images/img_3.jpg
  trunk/PO-9_210655/task_02/images/img_4.jpg
  trunk/PO-9_210655/task_02/images/img_5.jpg
  trunk/PO-9_210655/task_02/images/img_6.jpg
  trunk/PO-9_210655/task_02/src/CMakeLists.txt
  trunk/PO-9_210655/task_02/src/icons.qrc
  trunk/PO-9_210655/task_02/src/main.cpp
  trunk/PO-9_210655/task_02/src/mainwindow.cpp
  trunk/PO-9_210655/task_02/src/mainwindow.h
  trunk/PO-9_210655/task_02/src/mainwindow.ui
  trunk/PO-9_210655/task_02/src/resources/copy.png
  trunk/PO-9_210655/task_02/src/resources/cut.png
  trunk/PO-9_210655/task_02/src/resources/new.png
  trunk/PO-9_210655/task_02/src/resources/open.png
  trunk/PO-9_210655/task_02/src/resources/paste.png
  trunk/PO-9_210655/task_02/src/resources/save.png
Labels: task po-9, bugFix

#79 [task_08] lab8
  README.md
  trunk/PO-9_210665/task_08/README.md
  trunk/PO-9_210665/task_08/images/11.png
  trunk/PO-9_210665/task_08/images/33.png
  trunk/PO-9_210665/task_08/images/44.png
  trunk/PO-9_210665/task_08/src/CMakeLists.txt
  trunk/PO-9_210665/task_08/src/customwidget.cpp
  trunk/PO-9_210665/task_08/src/customwidget.h
  trunk/PO-9_210665/task_08/src/main.cpp
  trunk/PO-9_210665/task_08/src/mainwindow.cpp
  trunk/PO-9_210665/task_08/src/mainwindow.h
  trunk/PO-9_210665/task_08/src/mainwindow.ui
Labels: task po-9

#118 [task_08] KOLYA BLYAT: fix task_08 :white_check_mark: (return it back)
  README.md
Labels: help wanted

#72 [task_03]Laba3
  README.md
  trunk/PO-9_210674/task_03/README.md
  trunk/PO-9_210674/task_03/img/1.png
  trunk/PO-9_210674/task_03/img/10.png
  trunk/PO-9_210674/task_03/img/11.png
  trunk/PO-9_210674/task_03/img/12.png
  trunk/PO-9_210674/task_03/img/13.png
  trunk/PO-9_210674/task_03/img/2.png
  trunk/PO-9_210674/task_03/img/3.png
  trunk/PO-9_210674/task_03/img/4.png
  trunk/PO-9_210674/task_03/img/5.png
  trunk/PO-9_210674/task_03/img/6.png
  trunk/PO-9_210674/task_03/img/7.png
  trunk/PO-9_210674/task_03/img/8.png
  trunk/PO-9_210674/task_03/img/9.png
  trunk/PO-9_210674/task_03/src/CMakeLists.txt
  trunk/PO-9_210674/task_03/src/zad1/CMakeLists.txt
  trunk/PO-9_210674/task_03/src/zad1/main.cpp
  trunk/PO-9_210674/task_03/src/zad1/mainwindow.cpp
  trunk/PO-9_210674/task_03/src/zad1/mainwindow.h
  trunk/PO-9_210674/task_03/src/zad1/mainwindow.ui
  trunk/PO-9_210674/task_03/src/zad2/console/console.cpp
  trunk/PO-9_210674/task_03/src/zad2/graph/CMakeLists.txt
  trunk/PO-9_210674/task_03/src/zad2/graph/main.cpp
  trunk/PO-9_210674/task_03/src/zad2/graph/mainwindow.cpp
  trunk/PO-9_210674/task_03/src/zad2/graph/mainwindow.h
  trunk/PO-9_210674/task_03/src/zad2/graph/mainwindow.ui
  trunk/PO-9_210674/task_03/src/zad3/console/CMakeLists.txt
  trunk/PO-9_210674/task_03/src/zad3/console/main.cpp
  trunk/PO-9_210674/task_03/src/zad3/graph/CMakeLists.txt
  trunk/PO-9_210674/task_03/src/zad3/graph/main.cpp
  trunk/PO-9_210674/task_03/src/zad3/graph/mainwindow.cpp
  trunk/PO-9_210674/task_03/src/zad3/graph/mainwindow.h
  trunk/PO-9_210674/task_03/src/zad3/graph/mainwindow.ui
  trunk/PO-9_210674/task_03/src/zad4/4.1/CMakeLists.txt
  trunk/PO-9_210674/task_03/src/zad4/4.1/main.cpp
  trunk/PO-9_210674/task_03/src/zad4/4.1/mainwindow.cpp
  trunk/PO-9_210674/task_03/src/zad4/4.1/mainwindow.h
  trunk/PO-9_210674/task_03/src/zad4/4.1/mainwindow.ui
  trunk/PO-9_210674/task_03/src/zad4/4.2/CMakeLists.txt
  trunk/PO-9_210674/task_03/src/zad4/4.2/main.cpp
  trunk/PO-9_210674/task_03/src/zad4/4.2/mainwindow.cpp
  trunk/PO-9_210674/task_03/src/zad4/4.2/mainwindow.h
  trunk/PO-9_210674/task_03/src/zad4/4.2/mainwindow.ui
  trunk/PO-9_210674/task_03/src/zad5/CMakeLists.txt
  trunk/PO-9_210674/task_03/src/zad5/main.cpp
  trunk/PO-9_210674/task_03/src/zad5/mainwindow.cpp
  trunk/PO-9_210674/task_03/src/zad5/mainwindow.h
  trunk/PO-9_210674/task_03/src/zad5/mainwindow.ui
  trunk/PO-9_210674/task_03/src/zad6/CMakeLists.txt
  trunk/PO-9_210674/task_03/src/zad6/f.txt
  trunk/PO-9_210674/task_03/src/zad6/main.cpp
  trunk/PO-9_210674/task_03/src/zad6/mainwindow.cpp
  trunk/PO-9_210674/task_03/src/zad6/mainwindow.h
  trunk/PO-9_210674/task_03/src/zad6/mainwindow.ui
Labels: bug, task po-9

#121 [task_06] add plus
  README.md
Labels: task po-9

#116 [task_07] Lab 07
  README.md
  trunk/PO-9_210668/task_07/README.md
  trunk/PO-9_210668/task_07/images/ZDES_MOGLA_BYT_VASHA_REKLAMA.gif
  trunk/PO-9_210668/task_07/src/CMakeLists.txt
  trunk/PO-9_210668/task_07/src/main.cpp
  trunk/PO-9_210668/task_07/src/mainwindow.cpp
  trunk/PO-9_210668/task_07/src/mainwindow.h
  trunk/PO-9_210668/task_07/src/mainwindow.ui
Labels: task po-9

#67 [task_02] lab2
  README.md
  trunk/PO-9_210665/task_02/README.md
  trunk/PO-9_210665/task_02/images/image.png
  trunk/PO-9_210665/task_02/images/image2.png
  trunk/PO-9_210665/task_02/images/image3.png
  trunk/PO-9_210665/task_02/images/image4.png
  trunk/PO-9_210665/task_02/images/image5.png
  trunk/PO-9_210665/task_02/images/image6.png
  trunk/PO-9_210665/task_02/images/image7.png
  trunk/PO-9_210665/task_02/src/CMakeLists.txt
  trunk/PO-9_210665/task_02/src/icons.qrc
  trunk/PO-9_210665/task_02/src/main.cpp
  trunk/PO-9_210665/task_02/src/resources/copy.png
  trunk/PO-9_210665/task_02/src/resources/cut.png
  trunk/PO-9_210665/task_02/src/resources/new.png
  trunk/PO-9_210665/task_02/src/resources/open.png
  trunk/PO-9_210665/task_02/src/resources/paste.png
  trunk/PO-9_210665/task_02/src/resources/save.png
  trunk/PO-9_210665/task_02/src/texteditor.cpp
  trunk/PO-9_210665/task_02/src/texteditor.h
  trunk/PO-9_210665/task_02/src/texteditor.ui
Labels: task po-9

#119 [task_03] lab3
  README.md
  trunk/PO-9_210668/task_03/README.md
  trunk/PO-9_210668/task_03/images/image_1.png
  trunk/PO-9_210668/task_03/images/image_10.png
  trunk/PO-9_210668/task_03/images/image_11.png
  trunk/PO-9_210668/task_03/images/image_12.png
  trunk/PO-9_210668/task_03/images/image_13.png
  trunk/PO-9_210668/task_03/images/image_14.png
  trunk/PO-9_210668/task_03/images/image_15.png
  trunk/PO-9_210668/task_03/images/image_16.png
  trunk/PO-9_210668/task_03/images/image_17.png
  trunk/PO-9_210668/task_03/images/image_18.png
  trunk/PO-9_210668/task_03/images/image_19.png
  trunk/PO-9_210668/task_03/images/image_2.png
  trunk/PO-9_210668/task_03/images/image_20.png
  trunk/PO-9_210668/task_03/images/image_21.png
  trunk/PO-9_210668/task_03/images/image_3.png
  trunk/PO-9_210668/task_03/images/image_4.png
  trunk/PO-9_210668/task_03/images/image_5.png
  trunk/PO-9_210668/task_03/images/image_6.png
  trunk/PO-9_210668/task_03/images/image_7.png
  trunk/PO-9_210668/task_03/images/image_8.png
  trunk/PO-9_210668/task_03/images/image_9.png
  trunk/PO-9_210668/task_03/src/CMakeLists.txt
  trunk/PO-9_210668/task_03/src/main.cpp
  trunk/PO-9_210668/task_03/src/mainwindow.cpp
  trunk/PO-9_210668/task_03/src/mainwindow.h
  trunk/PO-9_210668/task_03/src/mainwindow.ui
Labels: task po-9

#56 [task_04]Laba4
  README.md
  trunk/.DS_Store
  trunk/PO-9_210674/task_01/.DS_Store
  trunk/PO-9_210674/task_04/README.md
  trunk/PO-9_210674/task_04/img/1.png
  trunk/PO-9_210674/task_04/img/2.png
  trunk/PO-9_210674/task_04/img/3.png
  trunk/PO-9_210674/task_04/img/4.png
  trunk/PO-9_210674/task_04/img/5.png
  trunk/PO-9_210674/task_04/src/CMakeLists.txt
  trunk/PO-9_210674/task_04/src/main.cpp
  trunk/PO-9_210674/task_04/src/mainwindow.cpp
  trunk/PO-9_210674/task_04/src/mainwindow.h
  trunk/PO-9_210674/task_04/src/mainwindow.ui
Labels: task po-9

#61 [task_05]add laba5
  README.md
  trunk/PO-9_210674/task_05/README.md
  trunk/PO-9_210674/task_05/img/1.png
  trunk/PO-9_210674/task_05/img/2.png
  trunk/PO-9_210674/task_05/img/3.png
  trunk/PO-9_210674/task_05/img/4.png
  trunk/PO-9_210674/task_05/img/5.png
  trunk/PO-9_210674/task_05/img/6.png
  trunk/PO-9_210674/task_05/src/CMakeLists.txt
  trunk/PO-9_210674/task_05/src/main.cpp
  trunk/PO-9_210674/task_05/src/mainwindow.cpp
  trunk/PO-9_210674/task_05/src/mainwindow.h
  trunk/PO-9_210674/task_05/src/mainwindow.ui
Labels: task po-9

#74 [task_08]add laba8
  README.md
  trunk/PO-9_210674/task_08/README.md
  trunk/PO-9_210674/task_08/img/1.gif
  trunk/PO-9_210674/task_08/img/1.mov
  trunk/PO-9_210674/task_08/src/CMakeLists.txt
  trunk/PO-9_210674/task_08/src/main.cpp
  trunk/PO-9_210674/task_08/src/mainwindow.cpp
  trunk/PO-9_210674/task_08/src/mainwindow.h
  trunk/PO-9_210674/task_08/src/mainwindow.ui
Labels: task po-9

#123 [doc] Добавить задание 8 лабы: паттерны
  tasks/task_08/README.md
  tasks/task_08/readme_imgs/1.png
  tasks/task_08/readme_imgs/10.png
  tasks/task_08/readme_imgs/11.png
  tasks/task_08/readme_imgs/12.png
  tasks/task_08/readme_imgs/13.png
  tasks/task_08/readme_imgs/2.png
  tasks/task_08/readme_imgs/3.png
  tasks/task_08/readme_imgs/4.png
  tasks/task_08/readme_imgs/5.png
  tasks/task_08/readme_imgs/6.png
  tasks/task_08/readme_imgs/7.png
  tasks/task_08/readme_imgs/8.png
  tasks/task_08/readme_imgs/9.png
Labels: documentation

#125 [task_07] Add task_07
  README.md
  trunk/PO-8_210639/task_07/README.md
  trunk/PO-8_210639/task_07/images/img_1.png
  trunk/PO-8_210639/task_07/images/img_2.png
  trunk/PO-8_210639/task_07/src/CMakeLists.txt
  trunk/PO-8_210639/task_07/src/abstractFactory.cpp
  trunk/PO-8_210639/task_07/src/builder.cpp
  trunk/PO-8_210639/task_07/src/builder.h
  trunk/PO-8_210639/task_07/src/buildermain.cpp
  trunk/PO-8_210639/task_07/src/concreteDoor.cpp
  trunk/PO-8_210639/task_07/src/concreteDoor.h
  trunk/PO-8_210639/task_07/src/concreteMazeFactory.cpp
  trunk/PO-8_210639/task_07/src/concreteMazeFactory.h
  trunk/PO-8_210639/task_07/src/concreteRoom.cpp
  trunk/PO-8_210639/task_07/src/concreteRoom.h
  trunk/PO-8_210639/task_07/src/door.cpp
  trunk/PO-8_210639/task_07/src/door.h
  trunk/PO-8_210639/task_07/src/ears.cpp
  trunk/PO-8_210639/task_07/src/ears.h
  trunk/PO-8_210639/task_07/src/eyes.cpp
  trunk/PO-8_210639/task_07/src/eyes.h
  trunk/PO-8_210639/task_07/src/faceDirector.cpp
  trunk/PO-8_210639/task_07/src/faceDirector.h
  trunk/PO-8_210639/task_07/src/goodfacebuilder.cpp
  trunk/PO-8_210639/task_07/src/goodfacebuilder.h
  trunk/PO-8_210639/task_07/src/hair.cpp
  trunk/PO-8_210639/task_07/src/hair.h
  trunk/PO-8_210639/task_07/src/mazefactory.cpp
  trunk/PO-8_210639/task_07/src/mazefactory.h
  trunk/PO-8_210639/task_07/src/mouth.cpp
  trunk/PO-8_210639/task_07/src/mouth.h
  trunk/PO-8_210639/task_07/src/nose.cpp
  trunk/PO-8_210639/task_07/src/nose.h
  trunk/PO-8_210639/task_07/src/room.cpp
  trunk/PO-8_210639/task_07/src/room.h
  trunk/PO-8_210639/task_07/src/smilefacebuilder.cpp
  trunk/PO-8_210639/task_07/src/smilefacebuilder.h
  trunk/PO-8_210639/task_07/src/uglyfacebuilder.cpp
  trunk/PO-8_210639/task_07/src/uglyfacebuilder.h
Labels: task po-8

#126 [task_07] Add task_07
  README.md
  trunk/PO-8_210641/task_07/README.md
  trunk/PO-8_210641/task_07/images/lab7.gif
  trunk/PO-8_210641/task_07/src/CMakeLists.txt
  trunk/PO-8_210641/task_07/src/main.cpp
  trunk/PO-8_210641/task_07/src/mainwindow.cpp
  trunk/PO-8_210641/task_07/src/mainwindow.h
  trunk/PO-8_210641/task_07/src/mainwindow.ui
Labels: task po-8

#130 [task_02] Add task_02
  README.md
  trunk/PO-8_210642/task_02/README.md
  trunk/PO-8_210642/task_02/images/1.jpg
  trunk/PO-8_210642/task_02/images/2.jpg
  trunk/PO-8_210642/task_02/images/3.jpg
  trunk/PO-8_210642/task_02/images/4.jpg
  trunk/PO-8_210642/task_02/images/5.jpg
  trunk/PO-8_210642/task_02/images/6.jpg
  trunk/PO-8_210642/task_02/images/7.jpg
  trunk/PO-8_210642/task_02/images/8.jpg
  trunk/PO-8_210642/task_02/images/9.jpg
  trunk/PO-8_210642/task_02/src/CMakeLists.txt
  trunk/PO-8_210642/task_02/src/icons/copy.png
  trunk/PO-8_210642/task_02/src/icons/cut.png
  trunk/PO-8_210642/task_02/src/icons/new.png
  trunk/PO-8_210642/task_02/src/icons/open.png
  trunk/PO-8_210642/task_02/src/icons/paste.png
  trunk/PO-8_210642/task_02/src/icons/save.png
  trunk/PO-8_210642/task_02/src/main.cpp
  trunk/PO-8_210642/task_02/src/notepad.cpp
  trunk/PO-8_210642/task_02/src/notepad.h
  trunk/PO-8_210642/task_02/src/notepad.qrc
  trunk/PO-8_210642/task_02/src/notepad.ui
Labels: task po-8

#129 [task_02]Lab2
  README.md
  trunk/PO-9_210669/Lab2/README.md
  trunk/PO-9_210669/Lab2/image/image1.png
  trunk/PO-9_210669/Lab2/image/image2.png
  trunk/PO-9_210669/Lab2/image/image3.png
  trunk/PO-9_210669/Lab2/image/image4.png
  trunk/PO-9_210669/Lab2/image/image5.png
  trunk/PO-9_210669/Lab2/image/image6.png
  trunk/PO-9_210669/Lab2/src/CMakeLists.txt
  trunk/PO-9_210669/Lab2/src/main.cpp
  trunk/PO-9_210669/Lab2/src/texteditor.cpp
  trunk/PO-9_210669/Lab2/src/texteditor.h
  trunk/PO-9_210669/Lab2/src/texteditor.ui
Labels: task po-9

#115 [task_07]Laba Patterns
  README.md
  trunk/PO-9_210674/task_07/README.md
  trunk/PO-9_210674/task_07/src/AbstractFactory/CMakeLists.txt
  trunk/PO-9_210674/task_07/src/AbstractFactory/main.cpp
  trunk/PO-9_210674/task_07/src/PrototypeWithAbstactFactory/CMakeLists.txt
  trunk/PO-9_210674/task_07/src/PrototypeWithAbstactFactory/main.cpp
  trunk/PO-9_210674/task_07/src/SingletonWithAbstractFactory/CMakeLists.txt
  trunk/PO-9_210674/task_07/src/SingletonWithAbstractFactory/main.cpp
  trunk/PO-9_210674/task_08/src/CMakeLists.txt.user
Labels: task po-9

#104 [task_03] Lab 03
  trunk/PO-8_210640/task_03/Lab_03/Lab_03/Lab_03.sln
  trunk/PO-8_210640/task_03/Lab_03/Lab_03/Lab_03/App.xaml
  trunk/PO-8_210640/task_03/Lab_03/Lab_03/Lab_03/App.xaml.cs
  trunk/PO-8_210640/task_03/Lab_03/Lab_03/Lab_03/AssemblyInfo.cs
  trunk/PO-8_210640/task_03/Lab_03/Lab_03/Lab_03/Lab_03.csproj
  trunk/PO-8_210640/task_03/Lab_03/Lab_03/Lab_03/MainWindow.xaml
  trunk/PO-8_210640/task_03/Lab_03/Lab_03/Lab_03/MainWindow.xaml.cs
  trunk/PO-8_210640/task_03/README.md
  trunk/PO-8_210640/task_03/images/Task1.png
  trunk/PO-8_210640/task_03/images/Task2Part1.png
  trunk/PO-8_210640/task_03/images/Task2Part2.png
  trunk/PO-8_210640/task_03/images/Task3.png
  trunk/PO-8_210640/task_03/images/Task4.png
  trunk/PO-8_210640/task_03/images/Task5_Brands.png
  trunk/PO-8_210640/task_03/images/Task5_Supplies.png
  trunk/PO-8_210640/task_03/images/Task6.png
Labels: task po-8

#110 [task_04] Lab 04
  README.md
  trunk/PO-8_210640/task_04/Lab_04/Lab_04.sln
  trunk/PO-8_210640/task_04/Lab_04/Lab_04/App.xaml
  trunk/PO-8_210640/task_04/Lab_04/Lab_04/App.xaml.cs
  trunk/PO-8_210640/task_04/Lab_04/Lab_04/AssemblyInfo.cs
  trunk/PO-8_210640/task_04/Lab_04/Lab_04/Lab_04.csproj
  trunk/PO-8_210640/task_04/Lab_04/Lab_04/MainWindow.xaml
  trunk/PO-8_210640/task_04/Lab_04/Lab_04/MainWindow.xaml.cs
  trunk/PO-8_210640/task_04/Lab_04/Lab_04/Matrix.cs
  trunk/PO-8_210640/task_04/Lab_04/Lab_04/MatrixException.cs
  trunk/PO-8_210640/task_04/README.md
  trunk/PO-8_210640/task_04/images/Add.png
  trunk/PO-8_210640/task_04/images/BigMultiply.png
Labels: task po-8

#147 [task_04] Add task_04
  README.md
  trunk/PO-8_210642/task_04/README.md
  trunk/PO-8_210642/task_04/images/1.jpg
  trunk/PO-8_210642/task_04/images/2.jpg
  trunk/PO-8_210642/task_04/src/CMakeLists.txt
  trunk/PO-8_210642/task_04/src/main.cpp
  trunk/PO-8_210642/task_04/src/temperatureconverter.cpp
  trunk/PO-8_210642/task_04/src/temperatureconverter.h
  trunk/PO-8_210642/task_04/src/temperatureconverter.ui
Labels: task po-8

#138 [task_05] Add task_05
  README.md
  trunk/PO-8_210641/task_05/README.md
  trunk/PO-8_210641/task_05/images/img_1.png
  trunk/PO-8_210641/task_05/images/img_2.png
  trunk/PO-8_210641/task_05/images/img_3.png
  trunk/PO-8_210641/task_05/images/img_4.png
  trunk/PO-8_210641/task_05/images/img_5.png
  trunk/PO-8_210641/task_05/src/CMakeLists.txt
  trunk/PO-8_210641/task_05/src/main.cpp
  trunk/PO-8_210641/task_05/src/mainwindow.cpp
  trunk/PO-8_210641/task_05/src/mainwindow.h
  trunk/PO-8_210641/task_05/src/mainwindow.ui
Labels: task po-8, conflict

#139 [task_03] Add task_03
  README.md
  trunk/PO-8_210639/task_03/README.md
  trunk/PO-8_210639/task_03/images/img_1.png
  trunk/PO-8_210639/task_03/images/img_10.png
  trunk/PO-8_210639/task_03/images/img_11.png
  trunk/PO-8_210639/task_03/images/img_2.png
  trunk/PO-8_210639/task_03/images/img_3.png
  trunk/PO-8_210639/task_03/images/img_4.png
  trunk/PO-8_210639/task_03/images/img_5.png
  trunk/PO-8_210639/task_03/images/img_6.png
  trunk/PO-8_210639/task_03/images/img_7.png
  trunk/PO-8_210639/task_03/images/img_8.png
  trunk/PO-8_210639/task_03/images/img_9.png
  trunk/PO-8_210639/task_03/src/CMakeLists.txt
  trunk/PO-8_210639/task_03/src/main.cpp
  trunk/PO-8_210639/task_03/src/mainwindow.cpp
  trunk/PO-8_210639/task_03/src/mainwindow.h
  trunk/PO-8_210639/task_03/src/mainwindow.ui
  trunk/PO-8_210639/task_03/src/task01.cpp
  trunk/PO-8_210639/task_03/src/task01.h
  trunk/PO-8_210639/task_03/src/task01.ui
  trunk/PO-8_210639/task_03/src/task02.cpp
  trunk/PO-8_210639/task_03/src/task02.h
  trunk/PO-8_210639/task_03/src/task02.ui
  trunk/PO-8_210639/task_03/src/task03.cpp
  trunk/PO-8_210639/task_03/src/task03.h
  trunk/PO-8_210639/task_03/src/task03.ui
  trunk/PO-8_210639/task_03/src/task04.cpp
  trunk/PO-8_210639/task_03/src/task04.h
  trunk/PO-8_210639/task_03/src/task04.ui
  trunk/PO-8_210639/task_03/src/task05.cpp
  trunk/PO-8_210639/task_03/src/task05.h
  trunk/PO-8_210639/task_03/src/task05.ui
  trunk/PO-8_210639/task_03/src/task06.cpp
  trunk/PO-8_210639/task_03/src/task06.h
  trunk/PO-8_210639/task_03/src/task06.ui
Labels: task po-8

#162 [task_02] add task_02
  README.md
  trunk/PO-8_210647/task_02/README.md
  trunk/PO-8_210647/task_02/scrins/img.png
  trunk/PO-8_210647/task_02/scrins/img_-1.png
  trunk/PO-8_210647/task_02/scrins/img_0.png
  trunk/PO-8_210647/task_02/scrins/img_1.png
  trunk/PO-8_210647/task_02/scrins/img_2.png
  trunk/PO-8_210647/task_02/scrins/img_3.png
  trunk/PO-8_210647/task_02/scrins/img_4.png
  trunk/PO-8_210647/task_02/scrins/img_5.png
  trunk/PO-8_210647/task_02/scrins/img_6.png
  trunk/PO-8_210647/task_02/src/CMakeLists.txt
  trunk/PO-8_210647/task_02/src/main.cpp
  trunk/PO-8_210647/task_02/src/texteditor.cpp
  trunk/PO-8_210647/task_02/src/texteditor.h
  trunk/PO-8_210647/task_02/src/texteditor.ui
  trunk/PO-8_210647/task_02/txtTest.txt
Labels: task po-8

#161 [task_01] add task_01
  trunk/PO-8_210647/task_01/Readme.md
  trunk/PO-8_210647/task_01/img/2.png
  trunk/PO-8_210647/task_01/img/3.png
  trunk/PO-8_210647/task_01/src/CMakeLists.txt
  trunk/PO-8_210647/task_01/src/main.cpp
  trunk/PO-8_210647/task_01/src/widget.cpp
  trunk/PO-8_210647/task_01/src/widget.h
  trunk/PO-8_210647/task_01/src/widget.ui
Labels: task po-8

#165 [task_03] add task_03
  trunk/PO-8_210647/task_03/README.md
  trunk/PO-8_210647/task_03/img/1.png
  trunk/PO-8_210647/task_03/img/10.png
  trunk/PO-8_210647/task_03/img/11.png
  trunk/PO-8_210647/task_03/img/12.png
  trunk/PO-8_210647/task_03/img/13.png
  trunk/PO-8_210647/task_03/img/2.png
  trunk/PO-8_210647/task_03/img/3.png
  trunk/PO-8_210647/task_03/img/4.png
  trunk/PO-8_210647/task_03/img/5.png
  trunk/PO-8_210647/task_03/img/6.png
  trunk/PO-8_210647/task_03/img/7.png
  trunk/PO-8_210647/task_03/img/8.png
  trunk/PO-8_210647/task_03/img/9.png
  trunk/PO-8_210647/task_03/src/CMakeLists.txt
  trunk/PO-8_210647/task_03/src/zad1/CMakeLists.txt
  trunk/PO-8_210647/task_03/src/zad1/main.cpp
  trunk/PO-8_210647/task_03/src/zad1/mainwindow.cpp
  trunk/PO-8_210647/task_03/src/zad1/mainwindow.h
  trunk/PO-8_210647/task_03/src/zad1/mainwindow.ui
  trunk/PO-8_210647/task_03/src/zad2/console/console.cpp
  trunk/PO-8_210647/task_03/src/zad2/graph/CMakeLists.txt
  trunk/PO-8_210647/task_03/src/zad2/graph/main.cpp
  trunk/PO-8_210647/task_03/src/zad2/graph/mainwindow.cpp
  trunk/PO-8_210647/task_03/src/zad2/graph/mainwindow.h
  trunk/PO-8_210647/task_03/src/zad2/graph/mainwindow.ui
  trunk/PO-8_210647/task_03/src/zad3/console/CMakeLists.txt
  trunk/PO-8_210647/task_03/src/zad3/console/main.cpp
  trunk/PO-8_210647/task_03/src/zad3/graph/CMakeLists.txt
  trunk/PO-8_210647/task_03/src/zad3/graph/main.cpp
  trunk/PO-8_210647/task_03/src/zad3/graph/mainwindow.cpp
  trunk/PO-8_210647/task_03/src/zad3/graph/mainwindow.h
  trunk/PO-8_210647/task_03/src/zad3/graph/mainwindow.ui
  trunk/PO-8_210647/task_03/src/zad4/4.1/CMakeLists.txt
  trunk/PO-8_210647/task_03/src/zad4/4.1/main.cpp
  trunk/PO-8_210647/task_03/src/zad4/4.1/mainwindow.cpp
  trunk/PO-8_210647/task_03/src/zad4/4.1/mainwindow.h
  trunk/PO-8_210647/task_03/src/zad4/4.1/mainwindow.ui
  trunk/PO-8_210647/task_03/src/zad4/4.2/CMakeLists.txt
  trunk/PO-8_210647/task_03/src/zad4/4.2/main.cpp
  trunk/PO-8_210647/task_03/src/zad4/4.2/mainwindow.cpp
  trunk/PO-8_210647/task_03/src/zad4/4.2/mainwindow.h
  trunk/PO-8_210647/task_03/src/zad4/4.2/mainwindow.ui
  trunk/PO-8_210647/task_03/src/zad5/CMakeLists.txt
  trunk/PO-8_210647/task_03/src/zad5/main.cpp
  trunk/PO-8_210647/task_03/src/zad5/mainwindow.cpp
  trunk/PO-8_210647/task_03/src/zad5/mainwindow.h
  trunk/PO-8_210647/task_03/src/zad5/mainwindow.ui
  trunk/PO-8_210647/task_03/src/zad6/CMakeLists.txt
  trunk/PO-8_210647/task_03/src/zad6/f.txt
  trunk/PO-8_210647/task_03/src/zad6/main.cpp
  trunk/PO-8_210647/task_03/src/zad6/mainwindow.cpp
  trunk/PO-8_210647/task_03/src/zad6/mainwindow.h
  trunk/PO-8_210647/task_03/src/zad6/mainwindow.ui
Labels: task po-8

#166 [task_04] add task_04
  trunk/PO-8_210647/task_04/README.md
  trunk/PO-8_210647/task_04/img/1.png
  trunk/PO-8_210647/task_04/img/2.png
  trunk/PO-8_210647/task_04/img/3.png
  trunk/PO-8_210647/task_04/img/4.png
  trunk/PO-8_210647/task_04/img/5.png
  trunk/PO-8_210647/task_04/src/CMakeLists.txt
  trunk/PO-8_210647/task_04/src/main.cpp
  trunk/PO-8_210647/task_04/src/mainwindow.cpp
  trunk/PO-8_210647/task_04/src/mainwindow.h
  trunk/PO-8_210647/task_04/src/mainwindow.ui
Labels: task po-8

#167 [task_05] add task_05
  trunk/PO-8_210647/task_05/README.md
  trunk/PO-8_210647/task_05/img/1.png
  trunk/PO-8_210647/task_05/img/2.png
  trunk/PO-8_210647/task_05/img/3.png
  trunk/PO-8_210647/task_05/img/4.png
  trunk/PO-8_210647/task_05/img/5.png
  trunk/PO-8_210647/task_05/img/6.png
  trunk/PO-8_210647/task_05/src/CMakeLists.txt
  trunk/PO-8_210647/task_05/src/main.cpp
  trunk/PO-8_210647/task_05/src/mainwindow.cpp
  trunk/PO-8_210647/task_05/src/mainwindow.h
  trunk/PO-8_210647/task_05/src/mainwindow.ui
Labels: task po-8

#169 [task_08] add task_08
  trunk/PO-8_210647/task_08/README.md
  trunk/PO-8_210647/task_08/img/1.gif
  trunk/PO-8_210647/task_08/img/1.mov
  trunk/PO-8_210647/task_08/src/CMakeLists.txt
  trunk/PO-8_210647/task_08/src/main.cpp
  trunk/PO-8_210647/task_08/src/mainwindow.cpp
  trunk/PO-8_210647/task_08/src/mainwindow.h
  trunk/PO-8_210647/task_08/src/mainwindow.ui
Labels: task po-8

#136 [task_04] lab4
  README.md
  trunk/PO-9_210655/task_04/README.md
  trunk/PO-9_210655/task_04/images/img_01.jpg
  trunk/PO-9_210655/task_04/images/img_02.jpg
  trunk/PO-9_210655/task_04/images/img_03.jpg
  trunk/PO-9_210655/task_04/images/img_04.jpg
  trunk/PO-9_210655/task_04/src/CMakeLists.txt
  trunk/PO-9_210655/task_04/src/main.cpp
  trunk/PO-9_210655/task_04/src/mainwindow.cpp
  trunk/PO-9_210655/task_04/src/mainwindow.h
  trunk/PO-9_210655/task_04/src/mainwindow.ui
Labels: task po-9

#149 [task_04]add lab4
  README.md
  trunk/PO-9_210667/task_04/README.md
  trunk/PO-9_210667/task_04/img/img1.png
  trunk/PO-9_210667/task_04/img/img2.png
  trunk/PO-9_210667/task_04/img/img3.png
  trunk/PO-9_210667/task_04/img/img4.png
  trunk/PO-9_210667/task_04/img/img5.png
  trunk/PO-9_210667/task_04/img/img6.png
  trunk/PO-9_210667/task_04/src/CMakeLists.txt
  trunk/PO-9_210667/task_04/src/main.cpp
  trunk/PO-9_210667/task_04/src/widget.cpp
  trunk/PO-9_210667/task_04/src/widget.h
Labels: task po-9

#156 [task_03] lab_3
  README.md
  trunk/PO-9_210661/task_03/README.md
  trunk/PO-9_210661/task_03/images/1.png
  trunk/PO-9_210661/task_03/src/CMakeLists.txt
  trunk/PO-9_210661/task_03/src/main.cpp
  trunk/PO-9_210661/task_03/src/t1.cpp
  trunk/PO-9_210661/task_03/src/t1.h
  trunk/PO-9_210661/task_03/src/t1.ui
  trunk/PO-9_210661/task_03/src/t2.cpp
  trunk/PO-9_210661/task_03/src/t2.h
  trunk/PO-9_210661/task_03/src/t2.ui
  trunk/PO-9_210661/task_03/src/t3.cpp
  trunk/PO-9_210661/task_03/src/t3.h
  trunk/PO-9_210661/task_03/src/t3.ui
  trunk/PO-9_210661/task_03/src/t4.cpp
  trunk/PO-9_210661/task_03/src/t4.h
  trunk/PO-9_210661/task_03/src/t4.ui
  trunk/PO-9_210661/task_03/src/t5.cpp
  trunk/PO-9_210661/task_03/src/t5.h
  trunk/PO-9_210661/task_03/src/t5.ui
  trunk/PO-9_210661/task_03/src/t6.cpp
  trunk/PO-9_210661/task_03/src/t6.h
  trunk/PO-9_210661/task_03/src/t6.ui
Labels: task po-9

#151 [task_04]Lab4
  README.md
  trunk/PO-9_210669/Lab4/README.md
  trunk/PO-9_210669/Lab4/img/img1.png
  trunk/PO-9_210669/Lab4/img/img2.png
  trunk/PO-9_210669/Lab4/src/CMakeLists.txt
  trunk/PO-9_210669/Lab4/src/main.cpp
  trunk/PO-9_210669/Lab4/src/mainwindow.cpp
  trunk/PO-9_210669/Lab4/src/mainwindow.h
  trunk/PO-9_210669/Lab4/src/mainwindow.ui
Labels: task po-9

#135 [task_02] lab2
  README.md
  trunk/PO-9_210661/task_02/README.md
  trunk/PO-9_210661/task_02/img/1.png
  trunk/PO-9_210661/task_02/img/2.png
  trunk/PO-9_210661/task_02/img/3.png
  trunk/PO-9_210661/task_02/img/4.png
  trunk/PO-9_210661/task_02/img/5.png
  trunk/PO-9_210661/task_02/img/6.png
  trunk/PO-9_210661/task_02/img/7.png
  trunk/PO-9_210661/task_02/src/CMakeLists.txt
  trunk/PO-9_210661/task_02/src/icons.qrc
  trunk/PO-9_210661/task_02/src/main.cpp
  trunk/PO-9_210661/task_02/src/src/copy.png
  trunk/PO-9_210661/task_02/src/src/cut.png
  trunk/PO-9_210661/task_02/src/src/new.png
  trunk/PO-9_210661/task_02/src/src/open.png
  trunk/PO-9_210661/task_02/src/src/paste.png
  trunk/PO-9_210661/task_02/src/src/save.png
  trunk/PO-9_210661/task_02/src/texteditor.cpp
  trunk/PO-9_210661/task_02/src/texteditor.h
  trunk/PO-9_210661/task_02/src/texteditor.qrc
  trunk/PO-9_210661/task_02/src/texteditor.ui
Labels: task po-9

#152 [task_07]Lab7
  README.md
  trunk/PO-9_210669/Lab7/README.md
  trunk/PO-9_210669/Lab7/img/video.gif
  trunk/PO-9_210669/Lab7/src/CMakeLists.txt
  trunk/PO-9_210669/Lab7/src/main.cpp
  trunk/PO-9_210669/Lab7/src/mainwindow.cpp
  trunk/PO-9_210669/Lab7/src/mainwindow.h
  trunk/PO-9_210669/Lab7/src/mainwindow.ui
Labels: task po-9
