Repository brstu/OOTPISP-2023, pull requests merged in 2023-10, with the labels that each got.

#7 [doc] Add task_05
  tasks/task_05/.idea/.gitignore
  tasks/task_05/.idea/modules.xml
  tasks/task_05/.idea/task_05.iml
  tasks/task_05/.idea/vcs.xml
  tasks/task_05/README.md
Labels: documentation

#6 [task_01]Labs_1_po9
  .gitignore
  README.md
  trunk/PO-9_210656/lab1/images/image1.png
  trunk/PO-9_210656/lab1/images/image2.png
  trunk/PO-9_210656/lab1/images/image3.png
  trunk/PO-9_210656/lab1/images/image4.png
  trunk/PO-9_210656/lab1/images/image5.png
  trunk/PO-9_210656/lab1/readme.md
  trunk/PO-9_210656/lab1/source/colorchanger.cpp
  trunk/PO-9_210656/lab1/source/colorchanger.h
  trunk/PO-9_210656/lab1/source/fileviewer.cpp
  trunk/PO-9_210656/lab1/source/fileviewer.h
  trunk/PO-9_210656/lab1/source/lab1.pro
  trunk/PO-9_210656/lab1/source/main.cpp
Labels: task po-9

#27 [task_02] Лабораторная №2
  README.md
  trunk/PO9_210664/task_02/.gitignore
  trunk/PO9_210664/task_02/README.md
  trunk/PO9_210664/task_02/readme_imgs/1.png
  trunk/PO9_210664/task_02/readme_imgs/10.png
  trunk/PO9_210664/task_02/readme_imgs/2.png
  trunk/PO9_210664/task_02/readme_imgs/3.png
  trunk/PO9_210664/task_02/readme_imgs/4.png
  trunk/PO9_210664/task_02/readme_imgs/5.png
  trunk/PO9_210664/task_02/readme_imgs/6.png
  trunk/PO9_210664/task_02/readme_imgs/7.png
  trunk/PO9_210664/task_02/readme_imgs/8.png
  trunk/PO9_210664/task_02/readme_imgs/9.png
  trunk/PO9_210664/task_02/readme_imgs/ui_layout.png
  trunk/PO9_210664/task_02/readme_imgs/ui_menu_toolBar.png
  trunk/PO9_210664/task_02/src/CMakeLists.txt
  trunk/PO9_210664/task_02/src/main.cpp
  trunk/PO9_210664/task_02/src/src/copy.png
  trunk/PO9_210664/task_02/src/src/cut.png
  trunk/PO9_210664/task_02/src/src/new.png
  trunk/PO9_210664/task_02/src/src/open.png
  trunk/PO9_210664/task_02/src/src/paste.png
  trunk/PO9_210664/task_02/src/src/save.png
  trunk/PO9_210664/task_02/src/texteditor.cpp
  trunk/PO9_210664/task_02/src/texteditor.h
  trunk/PO9_210664/task_02/src/texteditor.qrc
  trunk/PO9_210664/task_02/src/texteditor.ui
Labels: task po-9, almost done

#28 [task_02]Lab2
  README.md
  trunk/PO-9_210656/lab2/images/image.png
  trunk/PO-9_210656/lab2/images/image2.png
  trunk/PO-9_210656/lab2/images/image3.png
  trunk/PO-9_210656/lab2/images/image4.png
  trunk/PO-9_210656/lab2/images/image5.png
  trunk/PO-9_210656/lab2/readme.md
  trunk/PO-9_210656/lab2/src/CMakeLists.txt
  trunk/PO-9_210656/lab2/src/icons.qrc
  trunk/PO-9_210656/lab2/src/main.cpp
  trunk/PO-9_210656/lab2/src/resources/copy.png
  trunk/PO-9_210656/lab2/src/resources/cut.png
  trunk/PO-9_210656/lab2/src/resources/new.png
  trunk/PO-9_210656/lab2/src/resources/open.png
  trunk/PO-9_210656/lab2/src/resources/paste.png
  trunk/PO-9_210656/lab2/src/resources/save.png
  trunk/PO-9_210656/lab2/src/texteditor.cpp
  trunk/PO-9_210656/lab2/src/texteditor.h
  trunk/PO-9_210656/lab2/src/texteditor.ui
Labels: task po-9, almost done

#29 [task_01]Add task_01
  README.md
  trunk/PO210643/task_01/README.md
  trunk/PO210643/task_01/images/img.png
  trunk/PO210643/task_01/images/img_2.png
  trunk/PO210643/task_01/src/CMakeLists.txt
  trunk/PO210643/task_01/src/main.cpp
  trunk/PO210643/task_01/src/mainwindow.cpp
  trunk/PO210643/task_01/src/mainwindow.h
  trunk/PO210643/task_01/src/mainwindow.ui
  trunk/PO210643/task_01/src/textreviwer.cpp
  trunk/PO210643/task_01/src/textreviwer.h
  trunk/PO210643/task_01/src/textreviwer.ui
Labels: task po-8, almost done

#30 [task_01]Add lab 01
  README.md
  trunk/PO-8_210639/task_01/README.md
  trunk/PO-8_210639/task_01/images/img_01.png
  trunk/PO-8_210639/task_01/images/img_02.png
  trunk/PO-8_210639/task_01/src/CMakeLists.txt
  trunk/PO-8_210639/task_01/src/main.cpp
  trunk/PO-8_210639/task_01/src/mainwindow.cpp
  trunk/PO-8_210639/task_01/src/mainwindow.h
  trunk/PO-8_210639/task_01/src/mainwindow.ui
  trunk/PO-8_210639/task_01/src/textbox.cpp
  trunk/PO-8_210639/task_01/src/textbox.h
  trunk/PO-8_210639/task_01/src/textbox.ui
Labels: task po-8, almost done

#38 [task_01] Lab1
  README.md
  trunk/PO-9_210655/task_01/README.md
  trunk/PO-9_210655/task_01/images/1.png
  trunk/PO-9_210655/task_01/images/2.png
  trunk/PO-9_210655/task_01/images/3.png
  trunk/PO-9_210655/task_01/src/CMakeLists.txt
  trunk/PO-9_210655/task_01/src/main.cpp
  trunk/PO-9_210655/task_01/src/mainwindow.cpp
  trunk/PO-9_210655/task_01/src/mainwindow.h
  trunk/PO-9_210655/task_01/src/mainwindow.ui
Labels: task po-9, almost done

#52 [task_01] Add task_01
  trunk/PO-8_210641/task_01/README.md
  trunk/PO-8_210641/task_01/images/img.png
  trunk/PO-8_210641/task_01/images/img_1.png
  trunk/PO-8_210641/task_01/src/CMakeLists.txt
  trunk/PO-8_210641/task_01/src/main.cpp
  trunk/PO-8_210641/task_01/src/mainwindow.cpp
  trunk/PO-8_210641/task_01/src/mainwindow.h
  trunk/PO-8_210641/task_01/src/mainwindow.ui
  trunk/PO-8_210641/task_01/src/textreviwer.cpp
  trunk/PO-8_210641/task_01/src/textreviwer.h
  trunk/PO-8_210641/task_01/src/textreviwer.ui
Labels: task po-8

#36 [task_04]lab4
  README.md
  trunk/PO-9_210656/lab4/images/image1.png
  trunk/PO-9_210656/lab4/images/image2.png
  trunk/PO-9_210656/lab4/images/image3.png
  trunk/PO-9_210656/lab4/readme.md
  trunk/PO-9_210656/lab4/src/CMakeLists.txt
  trunk/PO-9_210656/lab4/src/main.cpp
  trunk/PO-9_210656/lab4/src/mainwindow.cpp
  trunk/PO-9_210656/lab4/src/mainwindow.h
  trunk/PO-9_210656/lab4/src/mainwindow.ui
Labels: task po-9

#40 [task_01] lab1
  README.md
  trunk/PO-9_210666/task_01/README.md
  trunk/PO-9_210666/task_01/images/img1.png
  trunk/PO-9_210666/task_01/images/img2.png
  trunk/PO-9_210666/task_01/images/img3.png
  trunk/PO-9_210666/task_01/images/img4.png
  trunk/PO-9_210666/task_01/images/img5.png
  trunk/PO-9_210666/task_01/src/CMakeLists.txt
  trunk/PO-9_210666/task_01/src/main.cpp
  trunk/PO-9_210666/task_01/src/mainwindow.cpp
  trunk/PO-9_210666/task_01/src/mainwindow.h
  trunk/PO-9_210666/task_01/src/mainwindow.ui
  trunk/PO-9_210666/task_01/src/openfile.cpp
  trunk/PO-9_210666/task_01/src/openfile.h
  trunk/PO-9_210666/task_01/src/openfile.ui
Labels: task po-9

#32 [task_01] Лабораторная №1
  README.md
  trunk/PO-9_210672/lab1/img/screenshot1.png
  trunk/PO-9_210672/lab1/img/screenshot2.png
  trunk/PO-9_210672/lab1/img/screenshot3.png
  trunk/PO-9_210672/lab1/img/screenshot4.png
  trunk/PO-9_210672/lab1/report_lab1.md
  trunk/PO-9_210672/lab1/src/CMakeLists.txt
  trunk/PO-9_210672/lab1/src/main.cpp
  trunk/PO-9_210672/lab1/src/textedit.cpp
  trunk/PO-9_210672/lab1/src/textedit.h
  trunk/PO-9_210672/lab1/src/widget.cpp
  trunk/PO-9_210672/lab1/src/widget.h
  trunk/PO-9_210672/lab1/src/widget.ui
Labels: enhancement, task po-9

#59 [task_03]lab3
  README.md
  trunk/PO-9_210656/lab3/images/image-1.png
  trunk/PO-9_210656/lab3/images/image-10.png
  trunk/PO-9_210656/lab3/images/image-11.png
  trunk/PO-9_210656/lab3/images/image-12.png
  trunk/PO-9_210656/lab3/images/image-13.png
  trunk/PO-9_210656/lab3/images/image-14.png
  trunk/PO-9_210656/lab3/images/image-15.png
  trunk/PO-9_210656/lab3/images/image-2.png
  trunk/PO-9_210656/lab3/images/image-3.png
  trunk/PO-9_210656/lab3/images/image-4.png
  trunk/PO-9_210656/lab3/images/image-5.png
  trunk/PO-9_210656/lab3/images/image-6.png
  trunk/PO-9_210656/lab3/images/image-7.png
  trunk/PO-9_210656/lab3/images/image-8.png
  trunk/PO-9_210656/lab3/images/image-9.png
  trunk/PO-9_210656/lab3/readme.md
  trunk/PO-9_210656/lab3/src/CMakeLists.txt
  trunk/PO-9_210656/lab3/src/main.cpp
  trunk/PO-9_210656/lab4/src/main.cpp
Labels: question, task po-9

#41 [task_02] lab2
  README.md
  trunk/PO-9_210656/lab4/src/main.cpp
  trunk/PO-9_210666/task_02/README.md
  trunk/PO-9_210666/task_02/images/img1.jpg
  trunk/PO-9_210666/task_02/images/img2.jpg
  trunk/PO-9_210666/task_02/images/img3.jpg
  trunk/PO-9_210666/task_02/images/img4.jpg
  trunk/PO-9_210666/task_02/images/img5.jpg
  trunk/PO-9_210666/task_02/images/img6.jpg
  trunk/PO-9_210666/task_02/src/CMakeLists.txt
  trunk/PO-9_210666/task_02/src/images/copy.png
  trunk/PO-9_210666/task_02/src/images/cut.png
  trunk/PO-9_210666/task_02/src/images/new.png
  trunk/PO-9_210666/task_02/src/images/open.png
  trunk/PO-9_210666/task_02/src/images/paste.png
  trunk/PO-9_210666/task_02/src/images/save.png
  trunk/PO-9_210666/task_02/src/main.cpp
  trunk/PO-9_210666/task_02/src/texteditor.cpp
  trunk/PO-9_210666/task_02/src/texteditor.h
  trunk/PO-9_210666/task_02/src/texteditor.qrc
  trunk/PO-9_210666/task_02/src/texteditor.ui
Labels: task po-9, almost done

#48 [task_04] lab4
  README.md
  trunk/PO-9_210666/task_04/README.md
  trunk/PO-9_210666/task_04/images/image-1.png
  trunk/PO-9_210666/task_04/images/image-2.png
  trunk/PO-9_210666/task_04/images/image-3.png
  trunk/PO-9_210666/task_04/images/image-4.png
  trunk/PO-9_210666/task_04/images/image.png
  trunk/PO-9_210666/task_04/src/CMakeLists.txt
  trunk/PO-9_210666/task_04/src/main.cpp
  trunk/PO-9_210666/task_04/src/mainwindow.cpp
  trunk/PO-9_210666/task_04/src/mainwindow.h
  trunk/PO-9_210666/task_04/src/mainwindow.ui
Labels: task po-9

#60 [task_05] lab5
  README.md
  trunk/PO-9_210666/task_05/README.md
  trunk/PO-9_210666/task_05/images/image-1.png
  trunk/PO-9_210666/task_05/images/image-2.png
  trunk/PO-9_210666/task_05/images/image-3.png
  trunk/PO-9_210666/task_05/images/image-4.png
  trunk/PO-9_210666/task_05/images/image.png
  trunk/PO-9_210666/task_05/src/CMakeLists.txt
  trunk/PO-9_210666/task_05/src/addwork.cpp
  trunk/PO-9_210666/task_05/src/addwork.h
  trunk/PO-9_210666/task_05/src/addwork.ui
  trunk/PO-9_210666/task_05/src/addworker.cpp
  trunk/PO-9_210666/task_05/src/addworker.h
  trunk/PO-9_210666/task_05/src/addworker.ui
  trunk/PO-9_210666/task_05/src/main.cpp
  trunk/PO-9_210666/task_05/src/mainwindow.cpp
  trunk/PO-9_210666/task_05/src/mainwindow.h
  trunk/PO-9_210666/task_05/src/mainwindow.ui
  trunk/PO-9_210666/task_05/src/statistics.cpp
  trunk/PO-9_210666/task_05/src/statistics.h
  trunk/PO-9_210666/task_05/src/statistics.ui
Labels: task po-9

#9 [doc] Add task_08
  tasks/task_08/README.md
Labels: documentation
