Repository brstu/OOTPISP-2023, pull requests merged in 2023-12, with the labels that each got.

#154 [task_04]lab_4
  README.md
  trunk/PO-9_210663/task_04/README.md
  trunk/PO-9_210663/task_04/images/image-1.png
  trunk/PO-9_210663/task_04/images/image-2.png
  trunk/PO-9_210663/task_04/images/image-3.png
  trunk/PO-9_210663/task_04/src/CMakeLists.txt
  trunk/PO-9_210663/task_04/src/main.cpp
  trunk/PO-9_210663/task_04/src/mainwindow.cpp
  trunk/PO-9_210663/task_04/src/mainwindow.h
  trunk/PO-9_210663/task_04/src/mainwindow.ui
Labels: task po-9

#188 [task_05] lab5
  README.md
  trunk/PO-9_210655/task_05/README.md
  trunk/PO-9_210655/task_05/images/img_01.jpg
  trunk/PO-9_210655/task_05/images/img_02.jpg
  trunk/PO-9_210655/task_05/src/CMakeLists.txt
  trunk/PO-9_210655/task_05/src/main.cpp
  trunk/PO-9_210655/task_05/src/mainwindow.cpp
  trunk/PO-9_210655/task_05/src/mainwindow.h
  trunk/PO-9_210655/task_05/src/mainwindow.ui
Labels: task po-9

#153 [task_07]Lab7
  README.md
  trunk/PO-9_210671/task_07/README.md
  trunk/PO-9_210671/task_07/img/video.gif
  trunk/PO-9_210671/task_07/src/CMakeLists.txt
  trunk/PO-9_210671/task_07/src/main.cpp
  trunk/PO-9_210671/task_07/src/mainwindow.cpp
  trunk/PO-9_210671/task_07/src/mainwindow.h
  trunk/PO-9_210671/task_07/src/mainwindow.ui
Labels: task po-9

#122 [task_04] Лабораторная №4
  README.md
  trunk/PO-9_210672/lab4/image.png
  trunk/PO-9_210672/lab4/img/img1.png
  trunk/PO-9_210672/lab4/img/img2.png
  trunk/PO-9_210672/lab4/img/img3.png
  trunk/PO-9_210672/lab4/readme.md
  trunk/PO-9_210672/lab4/src/CMakeLists.txt
  trunk/PO-9_210672/lab4/src/main.cpp
  trunk/PO-9_210672/lab4/src/mainwindow.cpp
  trunk/PO-9_210672/lab4/src/mainwindow.h
  trunk/PO-9_210672/lab4/src/mainwindow.ui
Labels: task po-9

#195 [task_01]Lab1
  README.md
  trunk/PO-9_210659/lab1/images/image1.png
  trunk/PO-9_210659/lab1/images/image2.png
  trunk/PO-9_210659/lab1/images/image3.png
  trunk/PO-9_210659/lab1/images/image4.png
  trunk/PO-9_210659/lab1/readme.md
  trunk/PO-9_210659/lab1/src/oop1.py
Labels: task po-9

#193 [task_01] lab_1
  README.md
  trunk/PO-9_210651/task_01/README.md
  trunk/PO-9_210651/task_01/images/Change.png
  trunk/PO-9_210651/task_01/images/Change2.png
  trunk/PO-9_210651/task_01/images/Color_change.png
  trunk/PO-9_210651/task_01/images/file_opener.png
  trunk/PO-9_210651/task_01/images/file_opener_example.png
  trunk/PO-9_210651/task_01/src/CMakeLists.txt
  trunk/PO-9_210651/task_01/src/main.cpp
  trunk/PO-9_210651/task_01/src/mainwindow.cpp
  trunk/PO-9_210651/task_01/src/mainwindow.h
  trunk/PO-9_210651/task_01/src/mainwindow.ui
Labels: task po-9

#199 [task_08] Lab8
  README.md
Labels: task po-9

#155 [task_05] Lab 05
  trunk/PO-8_210640/task_05/Lab_05/Lab_05.sln
  trunk/PO-8_210640/task_05/Lab_05/Lab_05/App.xaml
  trunk/PO-8_210640/task_05/Lab_05/Lab_05/App.xaml.cs
  trunk/PO-8_210640/task_05/Lab_05/Lab_05/AssemblyInfo.cs
  trunk/PO-8_210640/task_05/Lab_05/Lab_05/Database/Entities/Result.cs
  trunk/PO-8_210640/task_05/Lab_05/Lab_05/Database/Entities/Session.cs
  trunk/PO-8_210640/task_05/Lab_05/Lab_05/Database/Entities/Student.cs
  trunk/PO-8_210640/task_05/Lab_05/Lab_05/Database/MyContext.cs
  trunk/PO-8_210640/task_05/Lab_05/Lab_05/Lab_05.csproj
  trunk/PO-8_210640/task_05/Lab_05/Lab_05/MainWindow.xaml
  trunk/PO-8_210640/task_05/Lab_05/Lab_05/MainWindow.xaml.cs
  trunk/PO-8_210640/task_05/README.md
  trunk/PO-8_210640/task_05/images/Failed.png
  trunk/PO-8_210640/task_05/images/Passed.png
Labels: task po-8

#216 [task_07] task_07
  README.md
  trunk/PO-9_210661/task_07/README.md
  trunk/PO-9_210661/task_07/images/1.png
  trunk/PO-9_210661/task_07/images/2.png
  trunk/PO-9_210661/task_07/src/CMakeLists.txt
  trunk/PO-9_210661/task_07/src/l7.cpp
  trunk/PO-9_210661/task_07/src/l7.h
  trunk/PO-9_210661/task_07/src/l7.ui
  trunk/PO-9_210661/task_07/src/main.cpp
Labels: task po-9

#200 [task_07] Лабораторная работа №7
  README.md
  trunk/PO-9_210672/lab7/img/img1.gif
  trunk/PO-9_210672/lab7/readme.md
  trunk/PO-9_210672/lab7/src/CMakeLists.txt
  trunk/PO-9_210672/lab7/src/main.cpp
  trunk/PO-9_210672/lab7/src/mainwindow.cpp
  trunk/PO-9_210672/lab7/src/mainwindow.h
  trunk/PO-9_210672/lab7/src/mainwindow.ui
Labels: task po-9

#212 [task_03]Task03
  README.md
  trunk/PO-8_210719/task_03/README.md
  trunk/PO-8_210719/task_03/images/0.png
  trunk/PO-8_210719/task_03/images/1.png
  trunk/PO-8_210719/task_03/images/2.png
  trunk/PO-8_210719/task_03/images/3.1.png
  trunk/PO-8_210719/task_03/images/3.2.png
  trunk/PO-8_210719/task_03/images/4.png
  trunk/PO-8_210719/task_03/images/5.png
  trunk/PO-8_210719/task_03/images/6.1.png
  trunk/PO-8_210719/task_03/images/6.2.png
  trunk/PO-8_210719/task_03/src/main.py
Labels: Alien

#218 [task_08] lab8
  README.md
  trunk/PO-9_210655/task_08/README.md
  trunk/PO-9_210655/task_08/src/AbstractFactory.h
  trunk/PO-9_210655/task_08/src/Builder.h
  trunk/PO-9_210655/task_08/src/CMakeLists.txt
  trunk/PO-9_210655/task_08/src/main.cpp
Labels: question, task po-9

#134 [task_02] lab2
  README.md
  trunk/PO-9_210668/task_02/README.md
  trunk/PO-9_210668/task_02/images/img1.png
  trunk/PO-9_210668/task_02/images/img2.png
  trunk/PO-9_210668/task_02/images/img3.png
  trunk/PO-9_210668/task_02/images/img4.png
  trunk/PO-9_210668/task_02/images/img5.png
  trunk/PO-9_210668/task_02/images/img6.png
  trunk/PO-9_210668/task_02/images/img7.png
  trunk/PO-9_210668/task_02/src/CMakeLists.txt
  trunk/PO-9_210668/task_02/src/icons.qrc
  trunk/PO-9_210668/task_02/src/main.cpp
  trunk/PO-9_210668/task_02/src/resources/copy.png
  trunk/PO-9_210668/task_02/src/resources/cut.png
  trunk/PO-9_210668/task_02/src/resources/new.png
  trunk/PO-9_210668/task_02/src/resources/open.png
  trunk/PO-9_210668/task_02/src/resources/paste.png
  trunk/PO-9_210668/task_02/src/resources/save.png
  trunk/PO-9_210668/task_02/src/texteditor.cpp
  trunk/PO-9_210668/task_02/src/texteditor.h
  trunk/PO-9_210668/task_02/src/texteditor.ui
Labels: task po-9

#248 [task_07] Add task_07
  trunk/PO-8_210642/task_07/README.md
  trunk/PO-8_210642/task_07/images/1.gif
  trunk/PO-8_210642/task_07/src/CMakeLists.txt
  trunk/PO-8_210642/task_07/src/main.cpp
  trunk/PO-8_210642/task_07/src/mainwindow.cpp
  trunk/PO-8_210642/task_07/src/mainwindow.h
  trunk/PO-8_210642/task_07/src/mainwindow.ui
Labels: task po-8

#272 [task_03] Add task_03
  README.md
  trunk/PO-8_210641/task_03/README.md
  trunk/PO-8_210641/task_03/images/img.png
  trunk/PO-8_210641/task_03/images/img_1.png
  trunk/PO-8_210641/task_03/images/img_10.png
  trunk/PO-8_210641/task_03/images/img_11.png
  trunk/PO-8_210641/task_03/images/img_2.png
  trunk/PO-8_210641/task_03/images/img_3.png
  trunk/PO-8_210641/task_03/images/img_4.png
  trunk/PO-8_210641/task_03/images/img_5.png
  trunk/PO-8_210641/task_03/images/img_6.png
  trunk/PO-8_210641/task_03/images/img_7.png
  trunk/PO-8_210641/task_03/images/img_8.png
  trunk/PO-8_210641/task_03/images/img_9.png
  trunk/PO-8_210641/task_03/src/CMakeLists.txt
  trunk/PO-8_210641/task_03/src/main.cpp
  trunk/PO-8_210641/task_03/src/mainwindow.cpp
  trunk/PO-8_210641/task_03/src/mainwindow.h
  trunk/PO-8_210641/task_03/src/mainwindow.ui
  trunk/PO-8_210641/task_03/src/task01.cpp
  trunk/PO-8_210641/task_03/src/task01.h
  trunk/PO-8_210641/task_03/src/task02.cpp
  trunk/PO-8_210641/task_03/src/task02.h
  trunk/PO-8_210641/task_03/src/task03.cpp
  trunk/PO-8_210641/task_03/src/task03.h
  trunk/PO-8_210641/task_03/src/task04.cpp
  trunk/PO-8_210641/task_03/src/task04.h
  trunk/PO-8_210641/task_03/src/task05.cpp
  trunk/PO-8_210641/task_03/src/task05.h
  trunk/PO-8_210641/task_03/src/task06.cpp
  trunk/PO-8_210641/task_03/src/task06.h
Labels: task po-8

#231 [task_03]Lab3
  README.md
  trunk/PO-9_210669/Lab3/README.md
  trunk/PO-9_210669/Lab3/images/img_1.png
  trunk/PO-9_210669/Lab3/images/img_10.png
  trunk/PO-9_210669/Lab3/images/img_11.png
  trunk/PO-9_210669/Lab3/images/img_2.png
  trunk/PO-9_210669/Lab3/images/img_3.png
  trunk/PO-9_210669/Lab3/images/img_4.png
  trunk/PO-9_210669/Lab3/images/img_5.png
  trunk/PO-9_210669/Lab3/images/img_6.png
  trunk/PO-9_210669/Lab3/images/img_7.png
  trunk/PO-9_210669/Lab3/images/img_8.png
  trunk/PO-9_210669/Lab3/images/img_9.png
  trunk/PO-9_210669/Lab3/src/CMakeLists.txt
  trunk/PO-9_210669/Lab3/src/main.cpp
  trunk/PO-9_210669/Lab3/src/mainwindow.cpp
  trunk/PO-9_210669/Lab3/src/mainwindow.h
  trunk/PO-9_210669/Lab3/src/mainwindow.ui
  trunk/PO-9_210669/Lab3/src/task01.cpp
  trunk/PO-9_210669/Lab3/src/task01.h
  trunk/PO-9_210669/Lab3/src/task01.ui
  trunk/PO-9_210669/Lab3/src/task02.cpp
  trunk/PO-9_210669/Lab3/src/task02.h
  trunk/PO-9_210669/Lab3/src/task02.ui
  trunk/PO-9_210669/Lab3/src/task03.cpp
  trunk/PO-9_210669/Lab3/src/task03.h
  trunk/PO-9_210669/Lab3/src/task03.ui
  trunk/PO-9_210669/Lab3/src/task04.cpp
  trunk/PO-9_210669/Lab3/src/task04.h
  trunk/PO-9_210669/Lab3/src/task04.ui
  trunk/PO-9_210669/Lab3/src/task05.cpp
  trunk/PO-9_210669/Lab3/src/task05.h
  trunk/PO-9_210669/Lab3/src/task05.ui
  trunk/PO-9_210669/Lab3/src/task06.cpp
  trunk/PO-9_210669/Lab3/src/task06.h
  trunk/PO-9_210669/Lab3/src/task06.ui
Labels: task po-9

#230 [task_05]Lab5
  README.md
  trunk/PO-9_210669/Lab5/README.md
  trunk/PO-9_210669/Lab5/img/img1.png
  trunk/PO-9_210669/Lab5/img/img2.png
  trunk/PO-9_210669/Lab5/img/img3.png
  trunk/PO-9_210669/Lab5/img/img4.png
  trunk/PO-9_210669/Lab5/img/img5.png
  trunk/PO-9_210669/Lab5/src/CMakeLists.txt
  trunk/PO-9_210669/Lab5/src/main.cpp
  trunk/PO-9_210669/Lab5/src/mainwindow.cpp
  trunk/PO-9_210669/Lab5/src/mainwindow.h
  trunk/PO-9_210669/Lab5/src/mainwindow.ui
Labels: task po-9

#253 [task_06]Lab6
  README.md
  trunk/PO-9_210669/Lab6/README.md
  trunk/PO-9_210669/Lab6/src/CMakeLists.txt
  trunk/PO-9_210669/Lab6/src/main.cpp
Labels: task po-9

#255 [task_08]Lab8
  README.md
  trunk/PO-9_210669/Lab8/README.md
  trunk/PO-9_210669/Lab8/img/image.png
  trunk/PO-9_210669/Lab8/src/CMakeLists.txt
  trunk/PO-9_210669/Lab8/src/main.cpp
Labels: task po-9

#283 [task_08] Add task_08
  trunk/PO-8_210641/task_08/README.md
  trunk/PO-8_210641/task_08/images/img.png
  trunk/PO-8_210641/task_08/src/AbstractFactory.h
  trunk/PO-8_210641/task_08/src/Builder.h
  trunk/PO-8_210641/task_08/src/CMakeLists.txt
  trunk/PO-8_210641/task_08/src/main.cpp
Labels: task po-8

#270 [task_03] Add task_03
  README.md
  trunk/PO-8_210642/task_03/README.md
  trunk/PO-8_210642/task_03/images/1.jpg
  trunk/PO-8_210642/task_03/images/10(1).jpg
  trunk/PO-8_210642/task_03/images/10.jpg
  trunk/PO-8_210642/task_03/images/11.jpg
  trunk/PO-8_210642/task_03/images/12.jpg
  trunk/PO-8_210642/task_03/images/13.jpg
  trunk/PO-8_210642/task_03/images/14.jpg
  trunk/PO-8_210642/task_03/images/15.jpg
  trunk/PO-8_210642/task_03/images/16.jpg
  trunk/PO-8_210642/task_03/images/2.jpg
  trunk/PO-8_210642/task_03/images/3.jpg
  trunk/PO-8_210642/task_03/images/4.jpg
  trunk/PO-8_210642/task_03/images/5.jpg
  trunk/PO-8_210642/task_03/images/6.jpg
  trunk/PO-8_210642/task_03/images/7.jpg
  trunk/PO-8_210642/task_03/images/8.jpg
  trunk/PO-8_210642/task_03/images/9.jpg
  trunk/PO-8_210642/task_03/src/CMakeLists.txt
  trunk/PO-8_210642/task_03/src/main.cpp
  trunk/PO-8_210642/task_03/src/mainwindow.cpp
  trunk/PO-8_210642/task_03/src/mainwindow.h
  trunk/PO-8_210642/task_03/src/mainwindow.ui
  trunk/PO-8_210642/task_03/src/task01.cpp
  trunk/PO-8_210642/task_03/src/task01.h
  trunk/PO-8_210642/task_03/src/task02.cpp
  trunk/PO-8_210642/task_03/src/task02.h
  trunk/PO-8_210642/task_03/src/task03.cpp
  trunk/PO-8_210642/task_03/src/task03.h
  trunk/PO-8_210642/task_03/src/task04.cpp
  trunk/PO-8_210642/task_03/src/task04.h
  trunk/PO-8_210642/task_03/src/task05.cpp
  trunk/PO-8_210642/task_03/src/task05.h
  trunk/PO-8_210642/task_03/src/task06.cpp
  trunk/PO-8_210642/task_03/src/task06.h
Labels: task po-8

#246 [task_05] Add task_05
  trunk/PO-8_210642/task_05/README.md
  trunk/PO-8_210642/task_05/images/1.jpg
  trunk/PO-8_210642/task_05/images/2.jpg
  trunk/PO-8_210642/task_05/images/3.jpg
  trunk/PO-8_210642/task_05/images/4.jpg
  trunk/PO-8_210642/task_05/src/CMakeLists.txt
  trunk/PO-8_210642/task_05/src/main.cpp
  trunk/PO-8_210642/task_05/src/mainwindow.cpp
  trunk/PO-8_210642/task_05/src/mainwindow.h
  trunk/PO-8_210642/task_05/src/mainwindow.ui
Labels: task po-8

#254 [task_08] Add task_08
  README.md
  trunk/PO-8_210642/task_08/README.md
  trunk/PO-8_210642/task_08/images/1.jpg
  trunk/PO-8_210642/task_08/images/2.jpg
  trunk/PO-8_210642/task_08/src/AbstractFactory.cpp
  trunk/PO-8_210642/task_08/src/Builder.cpp
  trunk/PO-8_210642/task_08/src/CMakeLists.txt
Labels: task po-8

#282 [task_06]Add task_06
  trunk/PO-8_210643/task_06/CMakeLists.txt
  trunk/PO-8_210643/task_06/README.md
  trunk/PO-8_210643/task_06/src/main.cpp
Labels: task po-8

#184 [task_08]Add task_08
  README.md
  tasks/task_07/README.md
  trunk/PO-8_210643/task_08/ConsoleApp1/ConsoleApp1.csproj
  trunk/PO-8_210643/task_08/ConsoleApp1/Fabric.cs
  trunk/PO-8_210643/task_08/ConsoleApp1/Line.cs
  trunk/PO-8_210643/task_08/ConsoleApp1/Oval.cs
  trunk/PO-8_210643/task_08/ConsoleApp1/Program.cs
  trunk/PO-8_210643/task_08/ConsoleApp1/Rectangle.cs
  trunk/PO-8_210643/task_08/ConsoleApp1/Text.cs
  trunk/PO-8_210643/task_08/ConsoleApp2/Builder.cs
  trunk/PO-8_210643/task_08/ConsoleApp2/ConsoleApp2.csproj
  trunk/PO-8_210643/task_08/ConsoleApp2/Director.cs
  trunk/PO-8_210643/task_08/ConsoleApp2/DocBuilder.cs
  trunk/PO-8_210643/task_08/ConsoleApp2/Fabric.cs
  trunk/PO-8_210643/task_08/ConsoleApp2/FabricSingleton.cs
  trunk/PO-8_210643/task_08/ConsoleApp2/HtmlBuilder.cs
  trunk/PO-8_210643/task_08/ConsoleApp2/Line.cs
  trunk/PO-8_210643/task_08/ConsoleApp2/Oval.cs
  trunk/PO-8_210643/task_08/ConsoleApp2/Product.cs
  trunk/PO-8_210643/task_08/ConsoleApp2/Program.cs
  trunk/PO-8_210643/task_08/ConsoleApp2/Rectangle.cs
  trunk/PO-8_210643/task_08/ConsoleApp2/Text.cs
  trunk/PO-8_210643/task_08/ConsoleApp2/TxtBuilder.cs
  trunk/PO-8_210643/task_08/ConsoleApp2/XlsBuilder.cs
  trunk/PO-8_210643/task_08/README.md
Labels: task po-8

#157 [task_07] Add Lab_07
  trunk/PO-8_210640/task_07/Lab_07/Lab_07.sln
  trunk/PO-8_210640/task_07/Lab_07/Lab_07/App.xaml
  trunk/PO-8_210640/task_07/Lab_07/Lab_07/App.xaml.cs
  trunk/PO-8_210640/task_07/Lab_07/Lab_07/AssemblyInfo.cs
  trunk/PO-8_210640/task_07/Lab_07/Lab_07/CircleComposition.cs
  trunk/PO-8_210640/task_07/Lab_07/Lab_07/Lab_07.csproj
  trunk/PO-8_210640/task_07/Lab_07/Lab_07/MainWindow.xaml
  trunk/PO-8_210640/task_07/Lab_07/Lab_07/MainWindow.xaml.cs
  trunk/PO-8_210640/task_07/README.md
  trunk/PO-8_210640/task_07/images/Animation.gif
Labels: task po-8

#160 [task_08] Add Lab 08
  trunk/PO-8_210640/task_08/Lab_08/Lab_08.sln
  trunk/PO-8_210640/task_08/Lab_08/Lab_08/App.xaml
  trunk/PO-8_210640/task_08/Lab_08/Lab_08/App.xaml.cs
  trunk/PO-8_210640/task_08/Lab_08/Lab_08/AssemblyInfo.cs
  trunk/PO-8_210640/task_08/Lab_08/Lab_08/Builders/Builder.cs
  trunk/PO-8_210640/task_08/Lab_08/Lab_08/Builders/DocBuilder.cs
  trunk/PO-8_210640/task_08/Lab_08/Lab_08/Builders/HtmlBuilder.cs
  trunk/PO-8_210640/task_08/Lab_08/Lab_08/Builders/TxtBuilder.cs
  trunk/PO-8_210640/task_08/Lab_08/Lab_08/Builders/XlsBuilder.cs
  trunk/PO-8_210640/task_08/Lab_08/Lab_08/Creators/Creator.cs
  trunk/PO-8_210640/task_08/Lab_08/Lab_08/Creators/DocCreator.cs
  trunk/PO-8_210640/task_08/Lab_08/Lab_08/Creators/HtmlCreator.cs
  trunk/PO-8_210640/task_08/Lab_08/Lab_08/Creators/TxtCreator.cs
  trunk/PO-8_210640/task_08/Lab_08/Lab_08/Creators/XlsCreator.cs
  trunk/PO-8_210640/task_08/Lab_08/Lab_08/Directors/AdaptiveDirector.cs
  trunk/PO-8_210640/task_08/Lab_08/Lab_08/Factories/PrototypeFactory.cs
  trunk/PO-8_210640/task_08/Lab_08/Lab_08/Factories/RedShapeFactory.cs
  trunk/PO-8_210640/task_08/Lab_08/Lab_08/Factories/ShapeFactory.cs
  trunk/PO-8_210640/task_08/Lab_08/Lab_08/Lab_08.csproj
  trunk/PO-8_210640/task_08/Lab_08/Lab_08/MainWindow.xaml
  trunk/PO-8_210640/task_08/Lab_08/Lab_08/MainWindow.xaml.cs
  trunk/PO-8_210640/task_08/Lab_08/Lab_08/Report.cs
  trunk/PO-8_210640/task_08/Lab_08/Lab_08/Shapes/Basic Shapes/Ellipse.cs
  trunk/PO-8_210640/task_08/Lab_08/Lab_08/Shapes/Basic Shapes/Line.cs
  trunk/PO-8_210640/task_08/Lab_08/Lab_08/Shapes/Basic Shapes/Rectangle.cs
  trunk/PO-8_210640/task_08/Lab_08/Lab_08/Shapes/Basic Shapes/Text.cs
  trunk/PO-8_210640/task_08/Lab_08/Lab_08/Shapes/Prototype Shapes/PrototypeEllipse.cs
  trunk/PO-8_210640/task_08/Lab_08/Lab_08/Shapes/Prototype Shapes/PrototypeLine.cs
  trunk/PO-8_210640/task_08/Lab_08/Lab_08/Shapes/Prototype Shapes/PrototypeRectangle.cs
  trunk/PO-8_210640/task_08/Lab_08/Lab_08/Shapes/Prototype Shapes/PrototypeText.cs
  trunk/PO-8_210640/task_08/Lab_08/Lab_08/Shapes/Red Shapes/RedEllipse.cs
  trunk/PO-8_210640/task_08/Lab_08/Lab_08/Shapes/Red Shapes/RedLine.cs
  trunk/PO-8_210640/task_08/Lab_08/Lab_08/Shapes/Red Shapes/RedRectangle.cs
  trunk/PO-8_210640/task_08/Lab_08/Lab_08/Shapes/Red Shapes/RedText.cs
  trunk/PO-8_210640/task_08/README.md
Labels: task po-8

#224 [task_03] add task_03
  README.md
  trunk/PO-8_210648/task_03/README.md
  trunk/PO-8_210648/task_03/WpfApp1.sln
  trunk/PO-8_210648/task_03/WpfApp1/App.xaml
  trunk/PO-8_210648/task_03/WpfApp1/App.xaml.cs
  trunk/PO-8_210648/task_03/WpfApp1/AssemblyInfo.cs
  trunk/PO-8_210648/task_03/WpfApp1/MainWindow.xaml
  trunk/PO-8_210648/task_03/WpfApp1/MainWindow.xaml.cs
  trunk/PO-8_210648/task_03/WpfApp1/Window2Task.xaml
  trunk/PO-8_210648/task_03/WpfApp1/Window2Task.xaml.cs
  trunk/PO-8_210648/task_03/WpfApp1/Window3Task.xaml
  trunk/PO-8_210648/task_03/WpfApp1/Window3Task.xaml.cs
  trunk/PO-8_210648/task_03/WpfApp1/Window4Task.xaml
  trunk/PO-8_210648/task_03/WpfApp1/Window4Task.xaml.cs
  trunk/PO-8_210648/task_03/WpfApp1/Window5Task.xaml
  trunk/PO-8_210648/task_03/WpfApp1/Window5Task.xaml.cs
  trunk/PO-8_210648/task_03/WpfApp1/Window6Task.xaml
  trunk/PO-8_210648/task_03/WpfApp1/Window6Task.xaml.cs
  trunk/PO-8_210648/task_03/WpfApp1/WindowT1.xaml
  trunk/PO-8_210648/task_03/WpfApp1/WindowT1.xaml.cs
  trunk/PO-8_210648/task_03/WpfApp1/WpfApp1.csproj
  trunk/PO-8_210648/task_03/images/img1.png
  trunk/PO-8_210648/task_03/images/img2.png
  trunk/PO-8_210648/task_03/images/img3.png
  trunk/PO-8_210648/task_03/images/img4.png
  trunk/PO-8_210648/task_03/images/img5.png
  trunk/PO-8_210648/task_03/images/img6.png
Labels: task po-8

#225 [task_04] Add task_04
  README.md
  trunk/PO-8_210648/task_04/README.md
  trunk/PO-8_210648/task_04/WpfApp1.sln
  trunk/PO-8_210648/task_04/WpfApp1/App.xaml
  trunk/PO-8_210648/task_04/WpfApp1/App.xaml.cs
  trunk/PO-8_210648/task_04/WpfApp1/AssemblyInfo.cs
  trunk/PO-8_210648/task_04/WpfApp1/MainWindow.xaml
  trunk/PO-8_210648/task_04/WpfApp1/MainWindow.xaml.cs
  trunk/PO-8_210648/task_04/WpfApp1/WpfApp1.csproj
  trunk/PO-8_210648/task_04/images/img1.png
  trunk/PO-8_210648/task_04/images/img2.png
  trunk/PO-8_210648/task_04/images/img3.png
  trunk/PO-8_210648/task_04/images/img4.png
Labels: task po-8

#267 [task_07] add task_07
  README.md
  trunk/PO-8_210648/task_07/ConsoleApp1/ConsoleApp1.sln
  trunk/PO-8_210648/task_07/ConsoleApp1/ConsoleApp1/AbstractFabric.cs
  trunk/PO-8_210648/task_07/ConsoleApp1/ConsoleApp1/ConsoleApp1.csproj
  trunk/PO-8_210648/task_07/ConsoleApp1/ConsoleApp1/Door.cs
  trunk/PO-8_210648/task_07/ConsoleApp1/ConsoleApp1/FabricSingleton.cs
  trunk/PO-8_210648/task_07/ConsoleApp1/ConsoleApp1/Program.cs
  trunk/PO-8_210648/task_07/ConsoleApp1/ConsoleApp1/Room.cs
  trunk/PO-8_210648/task_07/ConsoleApp1/ConsoleApp2/Builder.cs
  trunk/PO-8_210648/task_07/ConsoleApp1/ConsoleApp2/ConsoleApp2.csproj
  trunk/PO-8_210648/task_07/ConsoleApp1/ConsoleApp2/Director.cs
  trunk/PO-8_210648/task_07/ConsoleApp1/ConsoleApp2/GoodFaceBuilder.cs
  trunk/PO-8_210648/task_07/ConsoleApp1/ConsoleApp2/Product.cs
  trunk/PO-8_210648/task_07/ConsoleApp1/ConsoleApp2/Program.cs
  trunk/PO-8_210648/task_07/ConsoleApp1/ConsoleApp2/SmileFaceBuilder.cs
  trunk/PO-8_210648/task_07/ConsoleApp1/ConsoleApp2/UglyFaceBuilder.cs
  trunk/PO-8_210648/task_07/README.md
  trunk/PO-8_210648/task_07/images/img1.png
  trunk/PO-8_210648/task_07/images/img2.png
Labels: task po-8

#268 [task_08] add task_08
  README.md
  trunk/PO-8_210648/task_08/README.md
  trunk/PO-8_210648/task_08/WpfApp1/WpfApp1.sln
  trunk/PO-8_210648/task_08/WpfApp1/WpfApp1/App.xaml
  trunk/PO-8_210648/task_08/WpfApp1/WpfApp1/App.xaml.cs
  trunk/PO-8_210648/task_08/WpfApp1/WpfApp1/AssemblyInfo.cs
  trunk/PO-8_210648/task_08/WpfApp1/WpfApp1/MainWindow.xaml
  trunk/PO-8_210648/task_08/WpfApp1/WpfApp1/MainWindow.xaml.cs
  trunk/PO-8_210648/task_08/WpfApp1/WpfApp1/WpfApp1.csproj
  trunk/PO-8_210648/task_08/images/giphy.gif
Labels: task po-8

#297 [task_06] add white_check_mark
  README.md
Labels: Alien

#299 [task_07] Лабораторная работа №7
  README.md
  trunk/PO-9_210657/lab7/images/img1.png
  trunk/PO-9_210657/lab7/images/img2.png
  trunk/PO-9_210657/lab7/readme.md
  trunk/PO-9_210657/lab7/src/CMakeLists.txt
  trunk/PO-9_210657/lab7/src/main.cpp
  trunk/PO-9_210657/lab7/src/sinusoidalmovementwidget.cpp
  trunk/PO-9_210657/lab7/src/sinusoidalmovementwidget.h
  trunk/PO-9_210657/lab7/src/textwidget.cpp
  trunk/PO-9_210657/lab7/src/textwidget.h
Labels: task po-9

#287 [task_08] Add checkmarks
  README.md
Labels: enhancement

#300 [task_08] Лабораторная работа №8
  README.md
  trunk/PO-9_210657/lab8/images/image1.png
  trunk/PO-9_210657/lab8/readme.md
  trunk/PO-9_210657/lab8/src/AbstractFactory.h
  trunk/PO-9_210657/lab8/src/Builder.h
  trunk/PO-9_210657/lab8/src/CMakeLists.txt
  trunk/PO-9_210657/lab8/src/main.cpp
Labels: task po-9

#284 [task_05]add lab 5
  README.md
  trunk/PO-9_210667/task_05/README.md
  trunk/PO-9_210667/task_05/img/img1.png
  trunk/PO-9_210667/task_05/img/img2.png
  trunk/PO-9_210667/task_05/src/CMakeLists.txt
  trunk/PO-9_210667/task_05/src/main.cpp
  trunk/PO-9_210667/task_05/src/mainwindow.cpp
  trunk/PO-9_210667/task_05/src/mainwindow.h
  trunk/PO-9_210667/task_05/src/mainwindow.ui
Labels: task po-9

#286 [task_07]add lab_7
  README.md
  trunk/PO-9_210667/task_07/README.md
  trunk/PO-9_210667/task_07/img/img.gif
  trunk/PO-9_210667/task_07/src/CMakeLists.txt
  trunk/PO-9_210667/task_07/src/main.cpp
  trunk/PO-9_210667/task_07/src/mainwindow.cpp
  trunk/PO-9_210667/task_07/src/mainwindow.h
  trunk/PO-9_210667/task_07/src/mainwindow.ui
Labels: task po-9

#236 [task_06] lab6
  README.md
  trunk/PO-9_210655/task_06/README.md
  trunk/PO-9_210655/task_06/src/AbstractFactory.h
  trunk/PO-9_210655/task_06/src/Builder.h
  trunk/PO-9_210655/task_06/src/CMakeLists.txt
  trunk/PO-9_210655/task_06/src/main.cpp
Labels: task po-9

#290 [task_06]Лабораторная работа №6
  README.md
  trunk/PO-9_210657/lab6/readme.md
  trunk/PO-9_210657/lab6/src/CMakeLists.txt
  trunk/PO-9_210657/lab6/src/main.cpp
Labels: task po-9

#181 [task_04]add task
  README.md
  trunk/PO-8_210644/task_04/README.md
  trunk/PO-8_210644/task_04/images/img_1.png
  trunk/PO-8_210644/task_04/images/img_2.png
  trunk/PO-8_210644/task_04/images/img_3.png
  trunk/PO-8_210644/task_04/images/img_4.png
  trunk/PO-8_210644/task_04/images/img_5.png
  trunk/PO-8_210644/task_04/src/CMakeLists.txt
  trunk/PO-8_210644/task_04/src/main.cpp
  trunk/PO-8_210644/task_04/src/mainwindow.cpp
  trunk/PO-8_210644/task_04/src/mainwindow.h
  trunk/PO-8_210644/task_04/src/mainwindow.ui
Labels: task po-8

#182 [task_05]add task
  README.md
  trunk/PO-8_210644/task_05/README.md
  trunk/PO-8_210644/task_05/images/img_1.png
  trunk/PO-8_210644/task_05/images/img_2.png
  trunk/PO-8_210644/task_05/images/img_3.png
  trunk/PO-8_210644/task_05/images/img_4.png
  trunk/PO-8_210644/task_05/images/img_5.png
  trunk/PO-8_210644/task_05/src/CMakeLists.txt
  trunk/PO-8_210644/task_05/src/main.cpp
  trunk/PO-8_210644/task_05/src/mainwindow.cpp
  trunk/PO-8_210644/task_05/src/mainwindow.h
  trunk/PO-8_210644/task_05/src/mainwindow.ui
Labels: task po-8

#113 [task_02] Lab 02
  README.md
  trunk/PO-9_210658/task_02/README.md
  trunk/PO-9_210658/task_02/images/1.png
  trunk/PO-9_210658/task_02/images/10.png
  trunk/PO-9_210658/task_02/images/11.png
  trunk/PO-9_210658/task_02/images/2.png
  trunk/PO-9_210658/task_02/images/3.png
  trunk/PO-9_210658/task_02/images/4.png
  trunk/PO-9_210658/task_02/images/5.png
  trunk/PO-9_210658/task_02/images/6.png
  trunk/PO-9_210658/task_02/images/7.png
  trunk/PO-9_210658/task_02/images/8.png
  trunk/PO-9_210658/task_02/images/9.png
  trunk/PO-9_210658/task_02/src/Form1.Designer.cs
  trunk/PO-9_210658/task_02/src/Form1.cs
  trunk/PO-9_210658/task_02/src/Form1.resx
  trunk/PO-9_210658/task_02/src/Program.cs
  trunk/PO-9_210658/task_02/src/Properties/Resources.Designer.cs
  trunk/PO-9_210658/task_02/src/Properties/Resources.resx
  trunk/PO-9_210658/task_02/src/Resources/copy.png
  trunk/PO-9_210658/task_02/src/Resources/cut.png
  trunk/PO-9_210658/task_02/src/Resources/new.png
  trunk/PO-9_210658/task_02/src/Resources/open.png
  trunk/PO-9_210658/task_02/src/Resources/paste.png
  trunk/PO-9_210658/task_02/src/Resources/save.png
  trunk/PO-9_210658/task_02/src/SecondLab1.csproj
Labels: task po-9

#176 [task_01]add task
  README.md
  trunk/PO-8_210644/task_01/README.md
  trunk/PO-8_210644/task_01/images/img_01.png
  trunk/PO-8_210644/task_01/images/img_02.png
  trunk/PO-8_210644/task_01/src/CMakeLists.txt
  trunk/PO-8_210644/task_01/src/main.cpp
  trunk/PO-8_210644/task_01/src/mainwindow.cpp
  trunk/PO-8_210644/task_01/src/mainwindow.h
  trunk/PO-8_210644/task_01/src/mainwindow.ui
  trunk/PO-8_210644/task_01/src/textbox.cpp
  trunk/PO-8_210644/task_01/src/textbox.h
  trunk/PO-8_210644/task_01/src/textbox.ui
Labels: task po-8

#233 [task_07] Lab7
  README.md
  trunk/PO-9_210658/task_07/README.md
  trunk/PO-9_210658/task_07/images/0.png
  trunk/PO-9_210658/task_07/images/1.gif
  trunk/PO-9_210658/task_07/images/2.gif
  trunk/PO-9_210658/task_07/src/Task1/Form1.Designer.cs
  trunk/PO-9_210658/task_07/src/Task1/Form1.cs
  trunk/PO-9_210658/task_07/src/Task1/Form1.resx
  trunk/PO-9_210658/task_07/src/Task1/LR6.csproj
  trunk/PO-9_210658/task_07/src/Task1/Program.cs
  trunk/PO-9_210658/task_07/src/Task2/Form1.Designer.cs
  trunk/PO-9_210658/task_07/src/Task2/Form1.cs
  trunk/PO-9_210658/task_07/src/Task2/Form1.resx
  trunk/PO-9_210658/task_07/src/Task2/LR7_2.csproj
  trunk/PO-9_210658/task_07/src/Task2/Program.cs
Labels: task po-9

#238 [task_05] Lab5
  README.md
  trunk/PO-9_210668/task_05/README.md
  trunk/PO-9_210668/task_05/images/img_1.png
  trunk/PO-9_210668/task_05/images/img_2.png
  trunk/PO-9_210668/task_05/images/img_3.png
  trunk/PO-9_210668/task_05/images/img_4.png
  trunk/PO-9_210668/task_05/src/CMakeLists.txt
  trunk/PO-9_210668/task_05/src/main.cpp
  trunk/PO-9_210668/task_05/src/mainwindow.cpp
  trunk/PO-9_210668/task_05/src/mainwindow.h
  trunk/PO-9_210668/task_05/src/mainwindow.ui
Labels: task po-9

#313 [task_06]add lab 6
  trunk/PO-9_210667/task_06/README.md
  trunk/PO-9_210667/task_06/src/CMakeLists.txt
  trunk/PO-9_210667/task_06/src/main.cpp
Labels: task po-9

#291 [task_03] add task_03
  README.md
  trunk/PO-8_210649/task_03/README.md
  trunk/PO-8_210649/task_03/images/img1.png
  trunk/PO-8_210649/task_03/images/img2.png
  trunk/PO-8_210649/task_03/images/img3.png
  trunk/PO-8_210649/task_03/images/img4.png
  trunk/PO-8_210649/task_03/images/img5.png
  trunk/PO-8_210649/task_03/images/img6.png
  trunk/PO-8_210649/task_03/images/img7.png
  trunk/PO-8_210649/task_03/images/img8.png
  trunk/PO-8_210649/task_03/images/img9.png
  trunk/PO-8_210649/task_03/src/lab3/lab3.sln
  trunk/PO-8_210649/task_03/src/lab3/lab3/App.xaml
  trunk/PO-8_210649/task_03/src/lab3/lab3/App.xaml.cs
  trunk/PO-8_210649/task_03/src/lab3/lab3/AssemblyInfo.cs
  trunk/PO-8_210649/task_03/src/lab3/lab3/MainWindow.xaml
  trunk/PO-8_210649/task_03/src/lab3/lab3/MainWindow.xaml.cs
  trunk/PO-8_210649/task_03/src/lab3/lab3/Task1Window.xaml
  trunk/PO-8_210649/task_03/src/lab3/lab3/Task1Window.xaml.cs
  trunk/PO-8_210649/task_03/src/lab3/lab3/Task2Window.xaml
  trunk/PO-8_210649/task_03/src/lab3/lab3/Task2Window.xaml.cs
  trunk/PO-8_210649/task_03/src/lab3/lab3/Task3Window.xaml
  trunk/PO-8_210649/task_03/src/lab3/lab3/Task3Window.xaml.cs
  trunk/PO-8_210649/task_03/src/lab3/lab3/Task4Window.xaml
  trunk/PO-8_210649/task_03/src/lab3/lab3/Task4Window.xaml.cs
  trunk/PO-8_210649/task_03/src/lab3/lab3/Task5Window.xaml
  trunk/PO-8_210649/task_03/src/lab3/lab3/Task5Window.xaml.cs
  trunk/PO-8_210649/task_03/src/lab3/lab3/lab3.csproj
Labels: task po-8

#292 [task_04] add task
  README.md
  trunk/PO-8_210649/task_04/README.md
  trunk/PO-8_210649/task_04/WpfApp1.sln
  trunk/PO-8_210649/task_04/WpfApp1/App.xaml
  trunk/PO-8_210649/task_04/WpfApp1/App.xaml.cs
  trunk/PO-8_210649/task_04/WpfApp1/AssemblyInfo.cs
  trunk/PO-8_210649/task_04/WpfApp1/MainWindow.xaml
  trunk/PO-8_210649/task_04/WpfApp1/MainWindow.xaml.cs
  trunk/PO-8_210649/task_04/WpfApp1/WpfApp1.csproj
  trunk/PO-8_210649/task_04/images/img1.png
  trunk/PO-8_210649/task_04/images/img2.png
  trunk/PO-8_210649/task_04/images/img3.png
  trunk/PO-8_210649/task_04/images/img4.png
Labels: task po-8

#294 [task_07] add task
  README.md
  trunk/PO-8_210649/task_07/ConsoleApp1.sln
  trunk/PO-8_210649/task_07/ConsoleApp1/ConsoleApp1.csproj
  trunk/PO-8_210649/task_07/ConsoleApp1/Fabric.cs
  trunk/PO-8_210649/task_07/ConsoleApp1/Line.cs
  trunk/PO-8_210649/task_07/ConsoleApp1/Oval.cs
  trunk/PO-8_210649/task_07/ConsoleApp1/Program.cs
  trunk/PO-8_210649/task_07/ConsoleApp1/Rectangle.cs
  trunk/PO-8_210649/task_07/ConsoleApp1/Text.cs
  trunk/PO-8_210649/task_07/ConsoleApp2/Builder.cs
  trunk/PO-8_210649/task_07/ConsoleApp2/ConsoleApp2.csproj
  trunk/PO-8_210649/task_07/ConsoleApp2/Director.cs
  trunk/PO-8_210649/task_07/ConsoleApp2/DocBuilder.cs
  trunk/PO-8_210649/task_07/ConsoleApp2/Fabric.cs
  trunk/PO-8_210649/task_07/ConsoleApp2/FabricSingleton.cs
  trunk/PO-8_210649/task_07/ConsoleApp2/HtmlBuilder.cs
  trunk/PO-8_210649/task_07/ConsoleApp2/Line.cs
  trunk/PO-8_210649/task_07/ConsoleApp2/Oval.cs
  trunk/PO-8_210649/task_07/ConsoleApp2/Product.cs
  trunk/PO-8_210649/task_07/ConsoleApp2/Program.cs
  trunk/PO-8_210649/task_07/ConsoleApp2/Rectangle.cs
  trunk/PO-8_210649/task_07/ConsoleApp2/Text.cs
  trunk/PO-8_210649/task_07/ConsoleApp2/TxtBuilder.cs
  trunk/PO-8_210649/task_07/ConsoleApp2/XlsBuilder.cs
  trunk/PO-8_210649/task_07/README.md
  trunk/PO-8_210649/task_07/images/img1.png
  trunk/PO-8_210649/task_07/images/img2.png
  trunk/PO-8_210649/task_07/images/task.png
Labels: task po-8

#295 [task_08] add task
  README.md
  trunk/PO-8_210649/task_08/README.md
  trunk/PO-8_210649/task_08/WpfApp1.sln
  trunk/PO-8_210649/task_08/WpfApp1/App.xaml
  trunk/PO-8_210649/task_08/WpfApp1/App.xaml.cs
  trunk/PO-8_210649/task_08/WpfApp1/AssemblyInfo.cs
  trunk/PO-8_210649/task_08/WpfApp1/MainWindow.xaml
  trunk/PO-8_210649/task_08/WpfApp1/MainWindow.xaml.cs
  trunk/PO-8_210649/task_08/WpfApp1/WpfApp1.csproj
  trunk/PO-8_210649/task_08/images/giphy.gif
Labels: task po-8

#318 [task_07] task_07
  README.md
  trunk/PO-9_210651/task_07/README.md
  trunk/PO-9_210651/task_07/images/lab71.png
  trunk/PO-9_210651/task_07/images/lab72.png
  trunk/PO-9_210651/task_07/src/CMakeLists.txt
  trunk/PO-9_210651/task_07/src/main.cpp
  trunk/PO-9_210651/task_07/src/mainwindow.cpp
  trunk/PO-9_210651/task_07/src/mainwindow.h
  trunk/PO-9_210651/task_07/src/mainwindow.ui
  trunk/PO-9_210651/task_07/src/widget.cpp
  trunk/PO-9_210651/task_07/src/widget.h
Labels: task po-9

#317 [task_08] task_08
  README.md
  trunk/PO-9_210651/task_08/images/pattern.png
  trunk/PO-9_210651/task_08/readme.md
  trunk/PO-9_210651/task_08/src/AbstractFactory.h
  trunk/PO-9_210651/task_08/src/Builder.h
  trunk/PO-9_210651/task_08/src/CMakeLists.txt
  trunk/PO-9_210651/task_08/src/main.cpp
Labels: task po-9

#316 [task_05] task_05
  README.md
  trunk/PO-9_210651/task_05/img/FirstOpen.png
  trunk/PO-9_210651/task_05/img/SearchFIO.png
  trunk/PO-9_210651/task_05/img/SearchPhone.png
  trunk/PO-9_210651/task_05/readme.md
  trunk/PO-9_210651/task_05/src/CMakeLists.txt
  trunk/PO-9_210651/task_05/src/database.cpp
  trunk/PO-9_210651/task_05/src/database.h
  trunk/PO-9_210651/task_05/src/database.ui
  trunk/PO-9_210651/task_05/src/main.cpp
Labels: task po-9

#285 [task_08]add lab_8
  README.md
  trunk/PO-9_210667/task_08/README.md
  trunk/PO-9_210667/task_08/src/AbstractFactory/CMakeLists.txt
  trunk/PO-9_210667/task_08/src/AbstractFactory/main.cpp
  trunk/PO-9_210667/task_08/src/CMakeLists.txt
  trunk/PO-9_210667/task_08/src/PrototypeWithAbstactFactory/CMakeLists.txt
  trunk/PO-9_210667/task_08/src/PrototypeWithAbstactFactory/main.cpp
  trunk/PO-9_210667/task_08/src/SingletonWithAbstractFactory/CMakeLists.txt
  trunk/PO-9_210667/task_08/src/SingletonWithAbstractFactory/main.cpp
Labels: task po-9

#280 [task_04] task_04
  README.md
  trunk/PO-9_210651/task_04/README.md
  trunk/PO-9_210651/task_04/images/BubbleSort.png
  trunk/PO-9_210651/task_04/images/InsertionSort.png
  trunk/PO-9_210651/task_04/src/CMakeLists.txt
  trunk/PO-9_210651/task_04/src/main.cpp
  trunk/PO-9_210651/task_04/src/sortingtable.cpp
  trunk/PO-9_210651/task_04/src/sortingtable.h
  trunk/PO-9_210651/task_04/src/sortingtable.ui
Labels: task po-9

#301 [mark_labs] add mark_labs
  README.md
Labels: task po-8

#319 [task_01] add task_01
  trunk/PO-8_210647/task_01/Readme.md
  trunk/PO-8_210647/task_01/img/2.png
  trunk/PO-8_210647/task_01/img/3.png
  trunk/PO-8_210647/task_01/src/CMakeLists.txt
  trunk/PO-8_210647/task_01/src/main.cpp
  trunk/PO-8_210647/task_01/src/widget.cpp
  trunk/PO-8_210647/task_01/src/widget.h
  trunk/PO-8_210647/task_01/src/widget.ui
Labels: task po-8

#304 [task_05] lab5
  README.md
  trunk/PO9_210670/lab5/images/image-1.png
  trunk/PO9_210670/lab5/images/image-2.png
  trunk/PO9_210670/lab5/images/image-3.png
  trunk/PO9_210670/lab5/images/image.png
  trunk/PO9_210670/lab5/readme.md
  trunk/PO9_210670/lab5/src/CMakeLists.txt
  trunk/PO9_210670/lab5/src/database.sqlite
  trunk/PO9_210670/lab5/src/databasewindow.cpp
  trunk/PO9_210670/lab5/src/databasewindow.h
  trunk/PO9_210670/lab5/src/databasewindow.ui
  trunk/PO9_210670/lab5/src/main.cpp
Labels: task po-9

#321 [task_06] lab6
  README.md
  trunk/PO9_210670/lab6/readme.md
  trunk/PO9_210670/lab6/src/CMakeLists.txt
  trunk/PO9_210670/lab6/src/main.cpp
Labels: task po-9

#322 [task_07] lab7
  README.md
  trunk/PO9_210670/lab7/images/img1.png
  trunk/PO9_210670/lab7/images/img2.png
  trunk/PO9_210670/lab7/readme.md
  trunk/PO9_210670/lab7/src/CMakeLists.txt
  trunk/PO9_210670/lab7/src/main.cpp
  trunk/PO9_210670/lab7/src/sinusoidalmovementwidget.cpp
  trunk/PO9_210670/lab7/src/sinusoidalmovementwidget.h
  trunk/PO9_210670/lab7/src/textwidget.cpp
  trunk/PO9_210670/lab7/src/textwidget.h
Labels: task po-9

#323 [task_08] lab8
  README.md
  trunk/PO9_210670/lab8/images/image1.png
  trunk/PO9_210670/lab8/readme.md
  trunk/PO9_210670/lab8/src/AbstractFactory.h
  trunk/PO9_210670/lab8/src/Builder.h
  trunk/PO9_210670/lab8/src/CMakeLists.txt
  trunk/PO9_210670/lab8/src/main.cpp
Labels: task po-9

#307 [task_04] lab4
  README.md
  trunk/PO-9_210660/task_04/README.md
  trunk/PO-9_210660/task_04/img/1.png
  trunk/PO-9_210660/task_04/img/2.png
  trunk/PO-9_210660/task_04/src/CMakeLists.txt
  trunk/PO-9_210660/task_04/src/main.cpp
  trunk/PO-9_210660/task_04/src/mainwindow.cpp
  trunk/PO-9_210660/task_04/src/mainwindow.h
  trunk/PO-9_210660/task_04/src/mainwindow.ui
Labels: task po-9

#308 [task_05] lab5
  trunk/PO-9_210660/task_05/img/1.png
  trunk/PO-9_210660/task_05/img/2.png
  trunk/PO-9_210660/task_05/img/3.png
  trunk/PO-9_210660/task_05/readme.md
  trunk/PO-9_210660/task_05/src/CMakeLists.txt
  trunk/PO-9_210660/task_05/src/bd.cpp
  trunk/PO-9_210660/task_05/src/bd.h
  trunk/PO-9_210660/task_05/src/bd.ui
  trunk/PO-9_210660/task_05/src/main.cpp
Labels: task po-9

#310 [task_07] lab7
  trunk/PO-9_210660/task_07/README.md
  trunk/PO-9_210660/task_07/img/1.gif
  trunk/PO-9_210660/task_07/src/CMakeLists.txt
  trunk/PO-9_210660/task_07/src/main.cpp
  trunk/PO-9_210660/task_07/src/mainwindow.cpp
  trunk/PO-9_210660/task_07/src/mainwindow.h
  trunk/PO-9_210660/task_07/src/mainwindow.ui
Labels: task po-9

#311 [task_08] lab8
  README.md
  trunk/PO-9_210660/task_08/README.md
  trunk/PO-9_210660/task_08/src/AbstractFactory.h
  trunk/PO-9_210660/task_08/src/Builder.h
  trunk/PO-9_210660/task_08/src/CMakeLists.txt
  trunk/PO-9_210660/task_08/src/main.cpp
Labels: task po-9

#275 [task_05]task_05
  README.md
  trunk/PO-9_210653/lab5/README.md
  trunk/PO-9_210653/lab5/img/1.jpg
  trunk/PO-9_210653/lab5/img/2.jpg
  trunk/PO-9_210653/lab5/src/CMakeLists.txt
  trunk/PO-9_210653/lab5/src/main.cpp
  trunk/PO-9_210653/lab5/src/mainwindow.cpp
  trunk/PO-9_210653/lab5/src/mainwindow.h
  trunk/PO-9_210653/lab5/src/mainwindow.ui
Labels: task po-9

#261 [task_07]task_07
  trunk/PO-9_210653/lab7/README.md
  trunk/PO-9_210653/lab7/img/1.gif
  trunk/PO-9_210653/lab7/src/CMakeLists.txt
  trunk/PO-9_210653/lab7/src/main.cpp
  trunk/PO-9_210653/lab7/src/mainwindow.cpp
  trunk/PO-9_210653/lab7/src/mainwindow.h
  trunk/PO-9_210653/lab7/src/mainwindow.ui
Labels: task po-9

#259 [task_04]task_04
  trunk/PO-9_210653/lab4/README.md
  trunk/PO-9_210653/lab4/img/1.jpg
  trunk/PO-9_210653/lab4/img/2.jpg
  trunk/PO-9_210653/lab4/img/3.jpg
  trunk/PO-9_210653/lab4/img/4.jpg
  trunk/PO-9_210653/lab4/img/5.jpg
  trunk/PO-9_210653/lab4/src/CMakeLists.txt
  trunk/PO-9_210653/lab4/src/main.cpp
  trunk/PO-9_210653/lab4/src/mainwindow.cpp
  trunk/PO-9_210653/lab4/src/mainwindow.h
  trunk/PO-9_210653/lab4/src/mainwindow.ui
Labels: task po-9

#279 [task_03]task_03
  README.md
  trunk/PO-9_210653/lab3/README.md
  trunk/PO-9_210653/lab3/img/11.jpg
  trunk/PO-9_210653/lab3/img/12.jpg
  trunk/PO-9_210653/lab3/img/13.jpg
  trunk/PO-9_210653/lab3/img/14.jpg
  trunk/PO-9_210653/lab3/img/21.jpg
  trunk/PO-9_210653/lab3/img/31.jpg
  trunk/PO-9_210653/lab3/img/32.jpg
  trunk/PO-9_210653/lab3/img/33.jpg
  trunk/PO-9_210653/lab3/img/34.jpg
  trunk/PO-9_210653/lab3/img/35.jpg
  trunk/PO-9_210653/lab3/img/41.jpg
  trunk/PO-9_210653/lab3/img/51.jpg
  trunk/PO-9_210653/lab3/img/61.jpg
  trunk/PO-9_210653/lab3/img/62.jpg
  trunk/PO-9_210653/lab3/img/63.jpg
  trunk/PO-9_210653/lab3/src/CMakeLists.txt
  trunk/PO-9_210653/lab3/src/main.cpp
  trunk/PO-9_210653/lab3/src/mainwindow.cpp
  trunk/PO-9_210653/lab3/src/mainwindow.h
  trunk/PO-9_210653/lab3/src/mainwindow.ui
Labels: task po-9

#245 [task_04]task_04
  trunk/PO-9_210671/task_04/images/image1.png
  trunk/PO-9_210671/task_04/images/image2.png
  trunk/PO-9_210671/task_04/images/image3.png
  trunk/PO-9_210671/task_04/readme.md
  trunk/PO-9_210671/task_04/src/CMakeLists.txt
  trunk/PO-9_210671/task_04/src/main.cpp
  trunk/PO-9_210671/task_04/src/mainwindow.cpp
  trunk/PO-9_210671/task_04/src/mainwindow.h
  trunk/PO-9_210671/task_04/src/mainwindow.ui
Labels: task po-9

#252 [task_06]task_06
  trunk/PO-9_210671/task_06/README.md
  trunk/PO-9_210671/task_06/src/CMakeLists.txt
  trunk/PO-9_210671/task_06/src/main.cpp
Labels: task po-9

#249 [task_05]task_05
  trunk/PO-9_210671/task_05/README.md
  trunk/PO-9_210671/task_05/images/img_01.jpg
  trunk/PO-9_210671/task_05/images/img_02.jpg
  trunk/PO-9_210671/task_05/src/CMakeLists.txt
  trunk/PO-9_210671/task_05/src/main.cpp
  trunk/PO-9_210671/task_05/src/mainwindow.cpp
  trunk/PO-9_210671/task_05/src/mainwindow.h
  trunk/PO-9_210671/task_05/src/mainwindow.ui
Labels: task po-9

#288 [task_06] lab_6
  trunk/PO-9_210654/task_06/README.md
  trunk/PO-9_210654/task_06/src/CMakeLists.txt
  trunk/PO-9_210654/task_06/src/main.cpp
Labels: task po-9

#274 [task_07] lab_07
  README.md
  trunk/PO-9_210654/task_07/README.md
  trunk/PO-9_210654/task_07/images/1.gif
  trunk/PO-9_210654/task_07/src/CMakeLists.txt
  trunk/PO-9_210654/task_07/src/main.cpp
  trunk/PO-9_210654/task_07/src/mainwindow.cpp
  trunk/PO-9_210654/task_07/src/mainwindow.h
  trunk/PO-9_210654/task_07/src/mainwindow.ui
Labels: task po-9

#205 [task_05] lab_5
  README.md
  trunk/PO-9_210654/task_05/README.md
  trunk/PO-9_210654/task_05/images/1.jpg
  trunk/PO-9_210654/task_05/src/CMakeLists.txt
  trunk/PO-9_210654/task_05/src/main.cpp
  trunk/PO-9_210654/task_05/src/mainwindow.cpp
  trunk/PO-9_210654/task_05/src/mainwindow.h
  trunk/PO-9_210654/task_05/src/mainwindow.ui
Labels: task po-9

#201 [task_03] lab_3
  README.md
  trunk/PO-9_210654/task_03/README.md
  trunk/PO-9_210654/task_03/images/1.jpg
  trunk/PO-9_210654/task_03/images/2.jpg
  trunk/PO-9_210654/task_03/images/3.jpg
  trunk/PO-9_210654/task_03/images/4.jpg
  trunk/PO-9_210654/task_03/images/5.jpg
  trunk/PO-9_210654/task_03/images/6.jpg
  trunk/PO-9_210654/task_03/src/CMakeLists.txt
  trunk/PO-9_210654/task_03/src/main.cpp
  trunk/PO-9_210654/task_03/src/mainwindow.cpp
  trunk/PO-9_210654/task_03/src/mainwindow.h
  trunk/PO-9_210654/task_03/src/mainwindow.ui
Labels: task po-9

#305 [task_03]add lab 3
  README.md
  trunk/PO-9_210667/task_03/README.md
  trunk/PO-9_210667/task_03/images/img1.jpg
  trunk/PO-9_210667/task_03/images/img10.jpg
  trunk/PO-9_210667/task_03/images/img11.jpg
  trunk/PO-9_210667/task_03/images/img12.jpg
  trunk/PO-9_210667/task_03/images/img2.jpg
  trunk/PO-9_210667/task_03/images/img3.jpg
  trunk/PO-9_210667/task_03/images/img4.jpg
  trunk/PO-9_210667/task_03/images/img5.jpg
  trunk/PO-9_210667/task_03/images/img6.jpg
  trunk/PO-9_210667/task_03/images/img7.jpg
  trunk/PO-9_210667/task_03/images/img8.jpg
  trunk/PO-9_210667/task_03/images/img9.jpg
  trunk/PO-9_210667/task_03/src/CMakeLists.txt
  trunk/PO-9_210667/task_03/src/main.cpp
  trunk/PO-9_210667/task_03/src/mainwindow.cpp
  trunk/PO-9_210667/task_03/src/mainwindow.h
  trunk/PO-9_210667/task_03/src/mainwindow.ui
  trunk/PO-9_210667/task_03/src/task01.cpp
  trunk/PO-9_210667/task_03/src/task01.h
  trunk/PO-9_210667/task_03/src/task02.cpp
  trunk/PO-9_210667/task_03/src/task02.h
  trunk/PO-9_210667/task_03/src/task03.cpp
  trunk/PO-9_210667/task_03/src/task03.h
  trunk/PO-9_210667/task_03/src/task04.cpp
  trunk/PO-9_210667/task_03/src/task04.h
  trunk/PO-9_210667/task_03/src/task05.cpp
  trunk/PO-9_210667/task_03/src/task05.h
  trunk/PO-9_210667/task_03/src/task06.cpp
  trunk/PO-9_210667/task_03/src/task06.h
Labels: task po-9

#235 [task_08] Lab8
  README.md
  trunk/PO-9_210658/task_08/README.md
  trunk/PO-9_210658/task_08/images/1.png
  trunk/PO-9_210658/task_08/images/2.png
  trunk/PO-9_210658/task_08/images/3.png
  trunk/PO-9_210658/task_08/src/Face/LR8-face.csproj
  trunk/PO-9_210658/task_08/src/Face/Program.cs
  trunk/PO-9_210658/task_08/src/Report/LR8-2.csproj
  trunk/PO-9_210658/task_08/src/Report/Program.cs
  trunk/PO-9_210658/task_08/src/Robot/LR8-robot.csproj
  trunk/PO-9_210658/task_08/src/Robot/Program.cs
Labels: task po-9

#264 [task_08]Task08
  README.md
  trunk/PO-8_210719/task_08/README.md
  trunk/PO-8_210719/task_08/src/main.py
Labels: Alien

#256 [task_06] lab6
  README.md
  trunk/PO-9_210668/task_06/README.md
  trunk/PO-9_210668/task_06/src/CMakeLists.txt
  trunk/PO-9_210668/task_06/src/main.cpp
Labels: task po-9

#114 [task_04] Lab 04
  README.md
  trunk/PO-9_210658/task_04/README.md
  trunk/PO-9_210658/task_04/images/1.png
  trunk/PO-9_210658/task_04/images/2.png
  trunk/PO-9_210658/task_04/images/3.png
  trunk/PO-9_210658/task_04/src/Form1.Designer.cs
  trunk/PO-9_210658/task_04/src/Form1.cs
  trunk/PO-9_210658/task_04/src/Form1.resx
  trunk/PO-9_210658/task_04/src/OOP_7.csproj
  trunk/PO-9_210658/task_04/src/Program.cs
  trunk/PO-9_210658/task_04/src/Properties/AssemblyInfo.cs
  trunk/PO-9_210658/task_04/src/Properties/Resources.Designer.cs
  trunk/PO-9_210658/task_04/src/Properties/Resources.resx
  trunk/PO-9_210658/task_04/src/Properties/Settings.Designer.cs
  trunk/PO-9_210658/task_04/src/Properties/Settings.settings
Labels: question, task po-9

#187 [task_03] Lab 03
  trunk/PO-9_210658/task-03/README.md
  trunk/PO-9_210658/task-03/images/1.png
  trunk/PO-9_210658/task-03/images/10.png
  trunk/PO-9_210658/task-03/images/11.png
  trunk/PO-9_210658/task-03/images/12.png
  trunk/PO-9_210658/task-03/images/13.png
  trunk/PO-9_210658/task-03/images/14.png
  trunk/PO-9_210658/task-03/images/15.png
  trunk/PO-9_210658/task-03/images/2.png
  trunk/PO-9_210658/task-03/images/3.png
  trunk/PO-9_210658/task-03/images/4.png
  trunk/PO-9_210658/task-03/images/5.png
  trunk/PO-9_210658/task-03/images/6.png
  trunk/PO-9_210658/task-03/images/7.png
  trunk/PO-9_210658/task-03/images/8.png
  trunk/PO-9_210658/task-03/images/9.png
  trunk/PO-9_210658/task-03/src/Task1/VectorTask1.cpp
  trunk/PO-9_210658/task-03/src/Task1/VectorTask1.vcxproj
  trunk/PO-9_210658/task-03/src/Task1/VectorTask1.vcxproj.filters
  trunk/PO-9_210658/task-03/src/Task2/VectorTask2.cpp
  trunk/PO-9_210658/task-03/src/Task2/VectorTask2.vcxproj
  trunk/PO-9_210658/task-03/src/Task2/VectorTask2.vcxproj.filters
  trunk/PO-9_210658/task-03/src/Task3_1/Form1.Designer.cs
  trunk/PO-9_210658/task-03/src/Task3_1/Form1.cs
  trunk/PO-9_210658/task-03/src/Task3_1/Form1.resx
  trunk/PO-9_210658/task-03/src/Task3_1/LR_3_1.csproj
  trunk/PO-9_210658/task-03/src/Task3_1/Program.cs
  trunk/PO-9_210658/task-03/src/Task3_2/lr3t3c.cpp
  trunk/PO-9_210658/task-03/src/Task3_2/lr3t3c.vcxproj
  trunk/PO-9_210658/task-03/src/Task3_2/lr3t3c.vcxproj.filters
  trunk/PO-9_210658/task-03/src/Task4/Form1.Designer.cs
  trunk/PO-9_210658/task-03/src/Task4/Form1.cs
  trunk/PO-9_210658/task-03/src/Task4/Form1.resx
  trunk/PO-9_210658/task-03/src/Task4/LR4_1.csproj
  trunk/PO-9_210658/task-03/src/Task4/Program.cs
  trunk/PO-9_210658/task-03/src/Task5/Form1.Designer.cs
  trunk/PO-9_210658/task-03/src/Task5/Form1.cs
  trunk/PO-9_210658/task-03/src/Task5/Form1.resx
  trunk/PO-9_210658/task-03/src/Task5/Program.cs
  trunk/PO-9_210658/task-03/src/Task5/Task5.csproj
  trunk/PO-9_210658/task-03/src/Task6/Form1.Designer.cs
  trunk/PO-9_210658/task-03/src/Task6/Form1.cs
  trunk/PO-9_210658/task-03/src/Task6/Form1.resx
  trunk/PO-9_210658/task-03/src/Task6/Program.cs
  trunk/PO-9_210658/task-03/src/Task6/Task6.csproj
  trunk/PO-9_210658/task-03/src/VarTask1/Form1.Designer.cs
  trunk/PO-9_210658/task-03/src/VarTask1/Form1.cs
  trunk/PO-9_210658/task-03/src/VarTask1/Form1.resx
  trunk/PO-9_210658/task-03/src/VarTask1/Program.cs
  trunk/PO-9_210658/task-03/src/VarTask1/ThirdLab1.csproj
  trunk/PO-9_210658/task-03/src/VarTask2/Console1/ConsoleApplication1.cpp
  trunk/PO-9_210658/task-03/src/VarTask2/Console1/ConsoleApplication1.vcxproj
  trunk/PO-9_210658/task-03/src/VarTask2/Console1/ConsoleApplication1.vcxproj.filters
  trunk/PO-9_210658/task-03/src/VarTask2/GUI2/Form1.Designer.cs
  trunk/PO-9_210658/task-03/src/VarTask2/GUI2/Form1.cs
  trunk/PO-9_210658/task-03/src/VarTask2/GUI2/Form1.resx
  trunk/PO-9_210658/task-03/src/VarTask2/GUI2/GUIvarTask2.csproj
  trunk/PO-9_210658/task-03/src/VarTask2/GUI2/Program.cs
Labels: task po-9

#251 [task_08] lab8
  README.md
  trunk/PO-9_210668/task_08/README.md
  trunk/PO-9_210668/task_08/image/Screenshot_1.png
  trunk/PO-9_210668/task_08/image/Screenshot_2.png
  trunk/PO-9_210668/task_08/image/Screenshot_3.png
  trunk/PO-9_210668/task_08/src/CMakeLists.txt
  trunk/PO-9_210668/task_08/src/main.cpp
  trunk/PO-9_210668/task_08/src/mainwindow.cpp
  trunk/PO-9_210668/task_08/src/mainwindow.h
  trunk/PO-9_210668/task_08/src/mainwindow.ui
Labels: task po-9

#232 [task_05] Lab5
  README.md
  trunk/PO-9_210658/task_05/README.md
  trunk/PO-9_210658/task_05/images/1.png
  trunk/PO-9_210658/task_05/images/10.png
  trunk/PO-9_210658/task_05/images/11.png
  trunk/PO-9_210658/task_05/images/12.png
  trunk/PO-9_210658/task_05/images/2.png
  trunk/PO-9_210658/task_05/images/3.png
  trunk/PO-9_210658/task_05/images/4.png
  trunk/PO-9_210658/task_05/images/5.png
  trunk/PO-9_210658/task_05/images/6.png
  trunk/PO-9_210658/task_05/images/7.png
  trunk/PO-9_210658/task_05/images/8.png
  trunk/PO-9_210658/task_05/images/9.png
  trunk/PO-9_210658/task_05/src/Form1.Designer.cs
  trunk/PO-9_210658/task_05/src/Form1.cs
  trunk/PO-9_210658/task_05/src/Form1.resx
  trunk/PO-9_210658/task_05/src/Form2.Designer.cs
  trunk/PO-9_210658/task_05/src/Form2.cs
  trunk/PO-9_210658/task_05/src/Form2.resx
  trunk/PO-9_210658/task_05/src/Form3.Designer.cs
  trunk/PO-9_210658/task_05/src/Form3.cs
  trunk/PO-9_210658/task_05/src/Form3.resx
  trunk/PO-9_210658/task_05/src/LR5.csproj
  trunk/PO-9_210658/task_05/src/Program.cs
  trunk/PO-9_210658/task_05/src/lr5database.sqlite
Labels: task po-9

#241 [task_06] Lab6
  README.md
  trunk/PO-9_210658/task_06/README.md
  trunk/PO-9_210658/task_06/images/1.png
  trunk/PO-9_210658/task_06/images/2.png
  trunk/PO-9_210658/task_06/images/3.png
  trunk/PO-9_210658/task_06/images/4.png
  trunk/PO-9_210658/task_06/images/5.png
  trunk/PO-9_210658/task_06/src/Face/LR8-face.csproj
  trunk/PO-9_210658/task_06/src/Face/Program.cs
  trunk/PO-9_210658/task_06/src/Lab6.cpp
  trunk/PO-9_210658/task_06/src/Lab6.vcxproj
  trunk/PO-9_210658/task_06/src/Lab6.vcxproj.filters
  trunk/PO-9_210658/task_06/src/Report/LR8-2.csproj
  trunk/PO-9_210658/task_06/src/Report/Program.cs
  trunk/PO-9_210658/task_06/src/Robot/LR8-robot.csproj
  trunk/PO-9_210658/task_06/src/Robot/Program.cs
Labels: question, task po-9

#150 [task_02]lab_2
  README.md
  trunk/PO-9_210663/task_02/README.md
  trunk/PO-9_210663/task_02/image/image1.png
  trunk/PO-9_210663/task_02/image/image2.png
  trunk/PO-9_210663/task_02/image/image3.png
  trunk/PO-9_210663/task_02/image/image4.png
  trunk/PO-9_210663/task_02/image/image5.png
  trunk/PO-9_210663/task_02/image/image6.png
  trunk/PO-9_210663/task_02/src/CMakeLists.txt
  trunk/PO-9_210663/task_02/src/main.cpp
  trunk/PO-9_210663/task_02/src/texteditor.cpp
  trunk/PO-9_210663/task_02/src/texteditor.h
  trunk/PO-9_210663/task_02/src/texteditor.ui
Labels: task po-9

#185 [task_07]task_07
  README.md
  trunk/PO-9_210663/task_07/README.md
  trunk/PO-9_210663/task_07/images/task_07.gif
  trunk/PO-9_210663/task_07/src/CMakeLists.txt
  trunk/PO-9_210663/task_07/src/main.cpp
  trunk/PO-9_210663/task_07/src/mainwindow.cpp
  trunk/PO-9_210663/task_07/src/mainwindow.h
  trunk/PO-9_210663/task_07/src/mainwindow.ui
Labels: task po-9

#203 [task_05]Lab5
  README.md
  trunk/PO-9_210659/lab5/images/image-1.png
  trunk/PO-9_210659/lab5/images/image-2.png
  trunk/PO-9_210659/lab5/images/image-3.png
  trunk/PO-9_210659/lab5/images/image.png
  trunk/PO-9_210659/lab5/readme.md
  trunk/PO-9_210659/lab5/src/database.sqlite
  trunk/PO-9_210659/lab5/src/databasewindow.ui
  trunk/PO-9_210659/lab5/src/main.py
Labels: task po-9

#210 [task_02] Add task_02
  README.md
  trunk/PO-8_210646/task_02/img/img1.png
  trunk/PO-8_210646/task_02/img/img2.png
  trunk/PO-8_210646/task_02/img/img3.png
  trunk/PO-8_210646/task_02/img/img4.png
  trunk/PO-8_210646/task_02/img/img5.png
  trunk/PO-8_210646/task_02/readme.md
  trunk/PO-8_210646/task_02/src/CMakeLists.txt
  trunk/PO-8_210646/task_02/src/main.cpp
  trunk/PO-8_210646/task_02/src/mainwindow.cpp
  trunk/PO-8_210646/task_02/src/mainwindow.h
  trunk/PO-8_210646/task_02/src/mainwindow.qrc
  trunk/PO-8_210646/task_02/src/mainwindow.ui
  trunk/PO-8_210646/task_02/src/resources/tables/t1_1.png
  trunk/PO-8_210646/task_02/src/resources/tables/t4_1.png
  trunk/PO-8_210646/task_02/src/resources/tables/t4_2.png
  trunk/PO-8_210646/task_02/src/resources/tables/t4_3.png
  trunk/PO-8_210646/task_02/src/resources/tables/t6.png
  trunk/PO-8_210646/task_02/src/resources/tables/t_7.png
Labels: task po-8

#209 [task_01] Add task_01
  README.md
  trunk/PO-8_210646/task_01/README.md
  trunk/PO-8_210646/task_01/img/1.png
  trunk/PO-8_210646/task_01/img/2.png
  trunk/PO-8_210646/task_01/img/3.png
  trunk/PO-8_210646/task_01/img/4.png
  trunk/PO-8_210646/task_01/src/CMakeLists.txt
  trunk/PO-8_210646/task_01/src/main.cpp
  trunk/PO-8_210646/task_01/src/mainwindow.cpp
  trunk/PO-8_210646/task_01/src/mainwindow.h
  trunk/PO-8_210646/task_01/src/mainwindow.ui
Labels: task po-8

#198 [task_03]Lab3
  README.md
  trunk/PO-9_210659/lab3/images/image-1.png
  trunk/PO-9_210659/lab3/images/image-10.png
  trunk/PO-9_210659/lab3/images/image-11.png
  trunk/PO-9_210659/lab3/images/image-12.png
  trunk/PO-9_210659/lab3/images/image-13.png
  trunk/PO-9_210659/lab3/images/image-14.png
  trunk/PO-9_210659/lab3/images/image-15.png
  trunk/PO-9_210659/lab3/images/image-2.png
  trunk/PO-9_210659/lab3/images/image-3.png
  trunk/PO-9_210659/lab3/images/image-4.png
  trunk/PO-9_210659/lab3/images/image-5.png
  trunk/PO-9_210659/lab3/images/image-6.png
  trunk/PO-9_210659/lab3/images/image-7.png
  trunk/PO-9_210659/lab3/images/image-8.png
  trunk/PO-9_210659/lab3/images/image-9.png
  trunk/PO-9_210659/lab3/readme.md
  trunk/PO-9_210659/lab3/src/main.py
Labels: task po-9
